@charset "utf-8";
.activity-detai a{
	color:#3c3c3c;

	
}

.details-mes{
	width:650px;
	overflow:hidden;
	margin:0 0 12px 18px;
}
.details-mes img{
	float:left;
	width:398px;
	height:250px;
}

.details-mes .details-text{
	float:left;
	width:252px;
	height:250px;
	padding:17px;
	background-color:#f5f5f5;
}
.details-text h3{
	margin:0;
	font:14px "微软雅黑";
	color:#3c3c3c;
}

.details-text hr{
	margin:0;
	border:0;
	background-color:#b5b5b5;
	height:1px;
}
.details-text p{
	font:12px/26px "宋体";
	color:#505050;
	margin-bottom:0;
	}
.details-text .details-intr{
	line-height:18px;
	margin-top:6px;
	height:130px;
}
.detai-date{
	text-align:right;
	float:right;
}
.btn-fl{
	width:650px;
	height:24px;
	margin-left:16px;
}
.detai-btn{
	width:74px;
	height:24px;
	border-radius:2px;
	-moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
	border:1px solid #c8c8c8;
	background:url(../img/hp_share/detai-btn.png) repeat-x;
	font:12px/24px "宋体";
	color:#3c3c3c;
	padding:0;
	float:right;
	margin-left:6px;
}
.detai-btn:hover{
	color:#91c81e;
	border:1px solid #91c81e;
}
.detai-nav{
	width:690px;
	border-bottom:1px solid #919191;
	margin:20px 0;
	padding-left:24px;

}

.detai-nav ul li:first-child a::before {
	content: "| ";
}

.detai-nav ul li a::after {
	content: "|";
	padding: 0 0 0 8px;
}
.detai-nav li.active a {
	color: #5aaa00;
}
.detai-nav a{
	cursor: pointer;
}
.act-details{
	margin-left: 10px;
}
.act-details .detai-row {
	margin:0 16px 0 0;
    width: 319px;
	padding:0;
}
.act-details .thumbnail{
	border:none;
	width:319px;
	padding:0;
	position:relative;
	margin-left: 10px;
	float: left;
}

.thumb-border{
	margin:2px 2px 32px 2px;

}

.thumb-border:hover{
	border:2px solid #91c81e;
	margin:0 0 30px 0;
}
.detai-content{
	width:323px;
}

.play-detai{
	width:54px;
	height:54px;
	position:absolute;
	top:74px;
	left:136px;
	z-index:2;
}
.play-detai:hover{
	top:76px;
}
.add-detai{
	width:74px;
	height:74px;
	position:absolute;
	top:60px;
	left:122px;
	z-index:2;
}

.detai-content img{
	width:319px;
	height:195px;
	
}
.detai-icon{
	width:319px;
	display: block;
	height:34px;
	background-color:#f5f5f5;
	overflow:hidden;
	padding:0 6px;
}

.detai-left{
	float:left;
	width:50px;
	font:12px/34px "宋体";
	color:#3c3c3c;
	padding:0;
	background-color:#f5f5f5;
}
.detai-left:hover{
	color:#91c81e;
}
.detai-left:hover .glyphicon-heart{
	color:#ff7800;
}
.all-detai{
	float:right;
	font:12px/34px "宋体";
	color:#3c3c3c;
	padding:0;
	background-color:#f5f5f5;
}
.detai-right{
	width:50px;
}

.all-detai:hover{
	color:#91c81e;
}
.add-box-dt{
	width:319px;
	height:195px; 
	background-color:#f0f0f0; 
	border:1px solid #e3e1e1;
}

/*相册*/

.photo-details .thumbnail{
	border:none;
	width:210px;
	padding:0;
	position:relative;
	float: left;
	margin-left: 10px;
	border: none;
	box-shadow : none;
}

.photo-content{
	width:214px;
}

.photo-icon{
	width:210px;
	display: block;
	height:32px;	
	overflow:hidden;
	padding:0 6px;
	background-color:#f5f5f5
}

.detai-tiny{
	width:20px;
}
.add-photo{
	width:74px;
	height:74px;
	position:absolute;
	top:40px;
	left:72px;
	z-index:2;
}

.add-box-pt{
	width:210px;
	height:141px; 
	background-color:#f0f0f0; 
	border:1px solid #e3e1e1;
} 
/*书册*/
.book-details{
	margin:0 0 0 34px;
}
.book-details .book-row {
	margin:0 24px 0 0;
    width: 186px;
	padding:0;
}
.book-details .thumbnail{
	border:none;
	width:186px;
	padding:0;
	position:relative;
	margin-left: 10px;
	float: left;
}

.book-content{
	width:190px;
}

.book-icon{
	width:186px;
	display: block;
	height:32px;	
	overflow:hidden;
	padding:0 6px;
	background-color:#f5f5f5
}

.detai-tiny{
	width:20px;
}
.add-book{
	width:74px;
	height:74px;
	position:absolute;
	top:72px;
	left:56px;
	z-index:2;
}

.add-box-bk{
	width:186px;
	height:218px; 
	background-color:#f0f0f0; 
	border:1px solid #e3e1e1;
} 

#detai-poster{
	display:none;
}

#detai-book{
	display:none;
}

#detai-play{
	display:none;
}
/*英雄师徒行——微课详情——目标*/
.marg-hr{
	padding-bottom:14px;
}
.goal-widht{
	width:160px;
	height:30px;
	color:#fff;
	margin:-20px 0 0 28px;
}
.evaluate-b{
	margin:30px 0 0 40px;
	}
.evaluate-b span{
	display:inline-block;
	margin-left:26px;
	font:12px "宋体";
	color:#91c81e;
}
.goal-nav ul{
	margin:40px 0 0 16px;
	border-bottom:1px solid #424242;
	font:12px/24px "宋体";
	color:#3c3c3c;
	width:656px;
}
.goal-nav li{
	border:2px solid #fff;
}
.goal-nav ul .active{
	color:#91c81e;
}	
.goal-nav li:hover{
	font:12px/24px "宋体";
	border-bottom:2px solid #529d04;
}
.goal-nav li:hover a{
	color:#91c81e;
}
.goal-details{
	width:656px;
	height:244px;
	padding-top:24px;
	margin:4px 0 0 16px;
	background-color:#f5f5f5; 
}
.goal-details p{
	font:12px/24px "宋体";
	color:#3c3c3c;
	margin:0 23px 0 28px;
	}
.goal-table{
	width:656px;
	border-bottom:1px solid #c1c1c1;
	}
.src-name{
	width:400px;
	text-align:center;
}

.src-type{
	width:72px;
	text-align:center;
}
.src-cont{
	width:72px;
	text-align:center;
}
.src-operate{
	width:112px;
	text-align:center;
}

.how-name{
	display: block;
	width:380px;
	overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	-o-text-overflow: ellipsis;
    white-space: nowrap;
	border-top:0;
}
.sea-details{
	width:616px;
	height:214px;
	border-top:1px solid #c1c1c1;
	padding:0;
	margin:20px 0 0 32px;
	overflow:hidden;
}
.sea-details li{
	width:616px;
	padding:0;
	height:30px;
	border-bottom:1px solid #c1c1c1;
	font:12px/30px "宋体";
	color:#3c3c3c;
	
	}
.sea-details li:hover{
	border-bottom:1px solid #91c81e;
	}
#goal-thac{
	margin-bottom:300px;
}
#goal-way{
	display:none;
	margin-bottom:300px;
}
#goal-teaher{
	display:none;
	margin-bottom:300px;
}
#goal-related{
	display:none;
	margin-bottom:300px;
}
#goal-class{
	display:none;
	margin-bottom:300px;
}
/*视频播放*/
.comment-box{
	width:656px;
	font:16px "微软雅黑";
	color:#3c3c3c;
}
.comment-p{
	overflow:hidden;
	
}
.comment-p img{
	width:67px; 
	height:67px;
	border-radius:4px;
	float: left;
	margin:10px 12px 0;
	}	
.comment-p .text-comment{
	width:564px;
	height:86px;
	float:left;
}
.hint-pro{
	width:656px;
	overflow:hidden;
	margin-top:6px;
}
.hint-pro span{
	display:block;
	float:right;
}
.sm-prompt{
	font:12px/30px "宋体";
	color:#9b9b9b;
}
.sub-btn{
	width:78px;
	height:30px;
	background-color:#91c81e;
	border-radius:2px;
	font:14px/30px "微软雅黑";
	color:#fdfafa;
	padding:0;
	margin-left:6px;
	letter-spacing:2px;
}
.sub-btn:hover{
	color:#5a8208;
}

.list-pro{
	border-top:2px solid #91c81e;
	width:656px;
	margin-top:16px;
}
.list-pro li{
	margin:10px 40px 10px 52px;
	border-bottom: 1px solid #e5e5e5;
	overflow:hidden;
	padding-bottom:10px;
}
.list-pro li:hover{
	border-bottom: 1px solid #91c81e;
}
.list-pro li img{
	float:left;
	margin-right:16px;
}
.list-pro li .dw-comment{
	float:left;
}

.dw-comment h4,
.dw-comment p{
	font:12px/16px "宋体";
	color:#3c3c3c;
	width:420px;
}
.dw-comment h4{
	margin:0;
	overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	-o-text-overflow: ellipsis;
    white-space: nowrap;
	line-height:24px;
}
.list-pro li .trash-btn{
	width:16px;
	height:16px;
	background-color:transparent;
	display:block;
	float:right;
	margin:20px 12px 0 0;
	padding:0;
}	
.list-pro li span{	
	color:#d4d2d2;
	font-size:14px;
}

.list-pro li .trash-btn:hover span{	
	color:#91c81e;
}
.micro-video{
	}
.video-icon{
	width:656px;
	overflow:hidden;
}
.video-btn{
	padding:0;
	background-color:transparent;
	height:24px;
	width:auto;
	float:right;
	margin:0 0 0 20px;
	font:12px/24px "微软雅黑";
	text-align:center;
	vertical-align: top;
	
}

.video-btn span{
	}
.vary-click{
	color:#ff781e;
}
/* CSS Document */

