.happy_banner {
	height: 304px;
	margin: 0 0 29px 0;
	background-repeat: no-repeat;
	background-image: url(../img/camp-banner.jpg);
}

.reading-hay {
	width: 690px;
	height: 326px;
	margin: 0px 0 32px 0;
	position: relative;
	background-image: url(../img/understand-link.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 54px;
}

.read-img {
	/*margin-top: 14px; */
	width: 690px;
	height: 270px;
	overflow: hidden;
	border: 1px solid #cacaca;
}

.reading-left {
	float: left;
	width: 425px;
	height: 270px;
}

.rading-bar {
	width: 19px;
	height: 10px;
	position: absolute;
	left: 212px;
	top: 46px;
	z-index: 22;
}

.reading-right {
	float: right;
	width: 263px;
	height: 270px;
}

.testing-hay {
	width: 690px;
	height: 265px;
	margin: 0 0 32px 0;
	position: relative;
	background-image: url(../img/appraisal-link.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 30px;
}
	
.test-img {
	overflow: hidden;
	margin-top: 23px;
	border: 3px solid #e3e3e3;
}

.testing-left {
	float: left;
	width: 378px;
	height: 206px;
}

.testing-right {
	float: right;
	width: 306px;
	height: 206px;
	background-color: #e3e3e3;
}

.testing-right .go-ready {
	display: block;
	width: 230px;
	height: 94px;
	position: absolute;
	rigth: 0;
	top: 40px;
	background-image: url(../img/go-ready.png);
	z-index: 5;
}

.ready-text {
	margin-top: 82px;
}

.ready-text p {
	width: 307px;
	height: 20px;
	line-height: 20px;
	text-indent: 20px;
}

.ready-text p:hover {
	background-color: #fff;
}

.ready-text p a {
	font-size: 14px;
	color: #505050;
	font-family: "微软雅黑";
	text-decoration: none;
}

.acting-hay {
	width: 690px;
	height: 320px;
	margin: 0 0 30px 0;
	background-image: url(../img/acting-link.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 30px;
}
	
/*.acting-link{
	width: 690px;
	height: 30px;
	background-image: url(../img/acting-link.jpg);
	background-repeat: no-repeat;
	}*/
	
.acting-img {
	width: 690px;
	height: 265px;
	border: 3px solid #e3e3e3;
	/*background-image: url(../img/acting-evey.jpg);*/
	margin-top: 24px;
	position: relative;
	background-color: #000;
}

.acting-img .thank-hay {
	display: block;
	width: 106px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	left: 20px;
	top: 204px;
	color: #fff;
}

.day-hap {
	position: absolute;
	top: 0;
	left: 116px;
	z-index: 8;
}

.acting-img .day-hay {
	display: block;
	width: 106px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	left: 165px;
	top: 204px;
	color: #fff;
	z-index: 8;
}

.change-hap {
	position: absolute;
	top: 0;
	left: 287px;
	z-index: 9;
}

.acting-img .change-hay {
	display: block;
	width: 138px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	left: 316px;
	top: 204px;
	color: #fff;
	z-index: 18;
}

.live-hap {
	position: absolute;
	top: 0;
	left: 458px;
	z-index: 10;
}

.acting-img .spend-hay {
	display: block;
	width: 160px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	left: 506px;
	top: 204px;
	color: #fff;
	z-index: 18;
}

.acting-img span {
	height: 266px;
	background-color: #000;
}

.acting-img:hover span {
	opacity: 0.6;
	filter: alpha(opacity=70);
}

.acting-img:hover span:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.acting-img span {
	-moz-transition: opacity .7s cubic-bezier(0.2, 0.4, 0.7, 0.8);
	-webkit-transition: opacity .7s cubic-bezier(0.2, 0.4, 0.7, 0.8);
	transition: opacity .7s cubic-bezier(0.2, 0.4, 0.7, 0.8);
}
/*.sharing-hay{
	width: 690px;
	height: 220px;
    margin: 0 0 38px 0;
	background-image: url(../img/share-link.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top:30px;
	}*/
	
#share_school {
	background: url(../img/share-link.jpg) no-repeat;
	height: 100px;
}

.happy-school{
	width:690px;
	height: auto;
    margin: 0 auto;
    padding: 30px 0 0;
	background:url(../img/share-link.jpg) no-repeat;
	}
	
.h-avtive-list {
    margin: 10px 0 10px -34px;
}
/*.sharing-link{
	width: 690px;
	height: 30px;
	background-image: url(../img/share-link.jpg);
	background-repeat: no-repeat;
	}*/
	
	/*调整样式结束*/

