.clearfloat{clear:both;}
.float_right{float: right;}
#shown, .shown{display: block;}
.pos_absolute{position: absolute;}
label, p, ul, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{margin:0;padding:0;}
a{color: #000;}
a:hover, a:focus{color:#888;text-decoration: none;}
label{font-weight: normal;}
body{font-family: "microsoft yahei";position: relative;}
/*.glyphicon{top: -4px;}*/
.mask{width: 100%;height: 100%;position: fixed;top: 0;left:0;background: rgba(0,0,0,0.6);z-index: 3;}
.color_red{color:red;}
/*~~~~~~~~~~~changemyself_list~~~~~~~~~~~*/
.subordinary_wrapper{margin:20px 0;width: 690px;min-height:1300px;background: #fff;border: 1px solid #bbb;border-radius: 10px;position: relative;}
.subordinary_wrapper .prev{display:block;margin:1em;width:10em;color:#91C81E;font-size: 1.2em;color:#91c81e;font-weight: bold;}
.changemyself-banner-article p{float:left;margin:20px 0 0 50px;width:400px;line-height: 1.6em;font-size: 1.2em;}
.changemyself-banner-article img{float:left;}
.newbadhabbit_wrapper{position: relative;}
.newbadhabbit_dialog_wrapper{display:none;padding:20px 30px;width: 320px;height: 160px;border: 1px solid #ccc;position: absolute;left: 0;background: #fff;left: 50px;}
.newbadhabbit_dialog_wrapper label{width:100%;text-align: center;}
.newbadhabbit_dialog_wrapper input{float: left;}
.newbadhabbit_dialog_wrapper [type="text"]{width: 260px;}
.newbadhabbit_dialog_wrapper .form_button{margin:0 7px;}
.form_button[data="accept"], .form_button[data="cancel"]{display:block;width:115px;height:25px;border-radius: 5px;line-height: 25px;font-family: "microsoft yahei";font-size: 1.3em;}
.form_button[data="accept"]{background: #91c81e;box-shadow: 0 3px 0 #529d40, 0 3px 3px rgba(0, 0, 0, 0.3);}
.form_button[data="cancel"]{background: #b4b4b4;box-shadow: 0 3px 0 #878787, 0 3px 3px rgba(0, 0, 0, 0.3);}
.form_button[data="accept"]:hover, .form_button[data="accept"]:focus{box-shadow: 0 3px 0 #529d40, 0 3px 3px rgba(0, 0, 0, 0.3);}
.form_button[data="cancel"]:hover, .form_button[data="cancel"]:focus{box-shadow: 0 3px 0 #878787, 0 3px 3px rgba(0, 0, 0, 0.3);}
.form_button[data="accept"]:active{top:2px;box-shadow: 0 1px 0 #529d40, 0 1px 3px rgba(0, 0, 0, 0.3);}
.form_button[data="cancel"]:active{top:2px;box-shadow: 0 1px 0 #878787, 0 1px 3px rgba(0, 0, 0, 0.3);color:#aaa;}
.newbadhabbit_dialog_wrapper a{text-align: center;color:#fff;}
.inputnumber_item{margin:0 0 20px 0;color:#ccc;text-align: right;}
.inputnumber_item span{color:red;}
.changemyself_button_item{width: 100%;}
.changemyself_button:link{float:right;margin:0.5em 0 0 0;padding:0.2em 1em;height: 27px;line-height:20px;color:#fff;background: #91c81e;font-size: 1.4em;text-align: center;}
.changemyself_button:hover{color:#fff;}
.newbadhabbit_title_wrapper{padding:0 0 0 50px;width:100%;position: relative;}
.newbadhabbit_title_item{float: right;width:95%;margin:0 46px 0 0;}
.newbadhabbit_title_item a{position: absolute;left: 50px;bottom: 10px;}
.newbadhabbit_title_img{margin:0 0 10px 0;width: 100%;border-bottom:1px solid #000;}
.newbadhabbit_title_img img{margin:0 0 0 480px;}
.newbadhabbit_title_item .newbadhabbit_img{float: right;margin:0 0 5px 0;width: 320px;height: 200px;}
.newbadhabbit_title_item .statistics_item{float: right;}
.statistics_item{font-size: 1.4em;margin:0;text-align: right;text-align: center;}
.statistics_item label{font-size: 1.4em;}
.newbadhabbit_content_wrapper{min-height:845px;padding:65px 0 0 50px;font-size: 1.3em;}
.newbadhabbit_content_item img{float:left;}
.newbadhabbit_content_item{width: 100%;height: auto;}
.newbadhabbit_content_item li{padding:30px 0 0 0;}
.newbadhabbit_img_item, .newbadhabbit_list_item{float:left;}
.newbadhabbit_img_item{width: 320px;}
.newbadhabbit_list_item{margin:12px 0 12px 20px;width: 248px;}
.newbadhabbit_list_item label{float:left;width:80px;color:#555;font-weight: normal;}
.newbadhabbit_list_item p{float:left;margin:0 0 24px 0;width: 167px;border-bottom:1px solid #000;font-size: 0.9em;}
.newbadhabbit_list_item .progressbar{float:left;margin:10px 0;width: 120px;background: #D8D5D5;}
.newbadhabbit_percentage{float:right;width: 3em;text-align: right;}
.newbadhabbit_list_item .progressbar span{float:left;height:5px;background:#91C81E;}
/*~~~~~~~~~~~changemyself_content~~~~~~~~~~~*/
.decoratebar_item_660{margin:0 auto;width: 660px;height:2px;position: relative;background: #91c81e;}
.decoratebar_title, .decoratebar_title_small{margin:0 0 0 45px;padding:5px;font-weight: bold;color:#91c81e;position: absolute;bottom: 5px;background: #fff;z-index: 2;}
.decoratebar_title{font-size: 26px;}
.decoratebar_title_small{font-size: 18px;}
.decoratebar_item_660 .green_1, .decoratebar_item_660 .green_2, .decoratebar_item_660 .green_3{height:100%;position: absolute;right: 0;}
.decoratebar_item_660 .green_1{width: 100%;height:4px;background: #91c81e;}
.decoratebar_item_660 .green_2{width: 160px;height:4px;background: #529d40;}
.decoratebar_item_660 .green_3{width: 70px;height:4px;background: #2f7b00;}
.decoratebar_item_690{margin:10px 0;width: 688px;height:40px;position: relative;}
/*.decoratebar_item_690:after{content: "";display: block;clear: both;}*/
.decoratebar_item_690 .green_1, .decoratebar_item_690 .green_2, .decoratebar_item_690 .green_3{height:100%;position: absolute;right: 0;}
.decoratebar_item_690 .green_1{width: 100%;height:4px;background: #91c81e;}
.decoratebar_item_690 .green_2{width: 160px;height:4px;background: #529d40;}
.decoratebar_item_690 .green_3{width: 70px;height:4px;background: #2f7b00;}
.subordin_title_item{text-align: center;width: 100%;}
.subordin_title_item h4{display:inline-block;margin:10px auto;padding: 0.2em 1.7em;line-height:1.2em;background: #90c91d;color: #fff;font-size: 1.3em;}
/*.subordin_title_item{width: 100%;position: absolute;top: 1em;}
.subordin_title_item h3{margin:0 auto;padding:5px 0;width: 13em;background: #91c81e;text-align: center;color: #fff;font-size: 1.3em;}*/

.changemyself_content_img{margin: 0 auto;width: 590px;height: 360px;}
.note_wrapper{margin: 0 auto;width: 590px;}
/*.note_wrapper a{float: right;margin:1em 0;}*/
.note_wrapper .note_title{display:inline-block;min-width: 4em;}
.note_title{margin:2em 0 1em 0;width:auto;height:1.8em;color:#91c81e;border-bottom:1px solid #91c81e;}
.note_title span{float:left;width: 20px;height: 20px;background: url(../img/img_wbl/img_sprite_00000.png) 2px 0px;}
.note_title label{float: left;margin:3px 0 0 0;}
.note_content{position: relative;}
.note_content textarea{padding:0.3em 0.5em 2.3em 0.5em;width: 100%;height: 130px;border-radius: 5px;border:1px solid #c8c8c8;color:#3c3c3c;}
.note_content textarea:focus{box-shadow: 0px 0px 7px #70CEFF;}
.note_content p{width:94%;position: absolute;right: 0.5em;bottom: -17px;}
.editevent_input_wrapper, .newevent_input_wrapper{margin:0 auto;width: 270px;}
.newevent_input_wrapper input, .editevent_input_wrapper input{float: left;margin:24px 10px;}
.editevent_input_wrapper input:after{content: "";display: block;clear: both;}
.changemyself_countdown_item{margin:0 0 0 5em;width: 230px;height: 165px;background: url(../img/img_wbl/dialoguebix_1_00000.png);}
.changemyself_countdown_item{padding: 2em 0;}
.changemyself_countdown_wrapper img{float: right;margin:0 7em 0 0;position: relative;bottom:25px;}
/*~~~~~~~~~~~haexe_homepage~~~~~~~~~~~*/
.banner_wrapper .haexe_homepage_article_item{margin:0 0 0 45px;width: 470px;height: 120px;position: absolute;bottom: 0;left: 0;color: #000;line-height: 1.3em;font-size: 1.2em;}
.haexe_home_banner_wrapper{float:right;margin:0 0 30px 0;width: 700px;height: 310px;}
.haexe_home_carousel_wrapper{float:right;margin:30px 0 60px 0;width: 690px;height: 410px;background: #e3e3e3;position: relative;}
.haexe_home_carousel_wrapper:after{content: "";display: block;clear: both;}
.haexe_home_carousel_wrapper .shown span{display: block;}
.decoratebar_statistics_item{height: 2em;}
.decoratebar_statistics_item span{background: none;width: 3em;}
.decoratebar_statistics_item p{float: right;font-size: 13px;}
.decoratebar_statistics_item p:first-child{color:#91c81e;}
.gratitude_info_item{padding:1em 0 0 2em;width: 100%;height: 2em;position: absolute;top: 0;font-size: 1.3em;z-index: 1;}
.haexe_home_bene_desc_list{position: relative;}
.haexe_home_bene_desc_list .gratitude_info_item{color:#fff;}
.haexe_home_carousel_bg_item{overflow: hidden;;top: 0;}
.haexe_home_carousel_bg_item img{box-shadow: 3px 0px 5px #aaa;z-index: -1;}
.haexe_home_ranking_list_wrapper{float:right;padding:40px 0 0 0;width: 229px;height: 100%;box-shadow: 5px 0 5px #aaa inset;position: relative;}
.haexe_home_ranking_list_wrapper li{border-width: 1px;border-style: solid;border-color:transparent;position: relative;}
.haexe_home_ranking_list_wrapper li a, .haexe_home_ranking_list_wrapper .ourschool a{display:block;padding:0 0 0 6em;width:100%;height:65px;line-height:65px;color:#fff;background-image:url(../img/img_wbl/img_sprite_00000.png);}
.haexe_home_ranking_list_wrapper li span{display:none;width: 30px;height: 30px;background:url(../img/img_wbl/img_sprite_00000.png) -265px 0;position: absolute;top: 18px;left: -2px;}
.haexe_home_ranking_list_wrapper .ourschool{width:100%;height:9em;position: absolute;bottom: 0;border-top: 1px solid #ccc;}
.ranking_1 a{background-position: -13px -91px;}
.ranking_2 a{background-position: -13px -170px;}
.ranking_3 a{background-position: -13px -250px;}
.ourschool a{background-position: -13px -330px;}


.haexe_home_ranking_list_wrapper .shown a{background-image:url(../img/img_wbl/img_sprite_00000.png);background-color:#fff;z-index: -1;box-shadow: 5px 0 5px #aaa inset;cursor:pointer;}
.haexe_home_carousel_tree_wrapper{position: relative;}
.haexe_home_carousel_desc_list{display: none;height:100%;position: relative;}
.haexe_home_carousel_desc_list:after{content: "";display: block;clear: both;}
.haexe_home_carousel_desc_list ul{display:block;position: absolute;bottom: 0;left: 0;}
.haexe_home_carousel_desc_list ul:after{content: "";display: block;clear: both;}
.haexe_home_carousel_desc_list ul li, .haexe_home_bene_desc_list ul li{width:65px;height:65px;position: absolute;z-index: 2;}
.haexe_home_carousel_desc_list ul li{background-image: url(../img/img_wbl/img_sprite_00000.png);}
.haexe_home_carousel_desc_list ul li a{display: block;width: 100%;height: 100%;cursor: pointer;}
.haexe_home_carousel_desc_list_bg, .haexe_home_carousel_desc_list_content{display:none;padding:5px 10px;width: 200px;min-height: 80px;color:#000;position: absolute;left:-105%;top: -85px;}
.haexe_home_carousel_desc_list_bg{z-index: 1}
.haexe_home_carousel_desc_list_content{background:rgba(255,255,255,0.7);z-index: 2}
.haexe_home_carousel_desc_list_content b{width: 90%;position: absolute;bottom: 0;}
.haexe_home_carousel_desc_list_content b:after{content: "";display: block;margin:0 auto;width:0;height:0;border-style: solid;border-width: 20px 10px 0px 10px;border-color: rgba(255,255,255,0.7) transparent transparent transparent;position: relative;top: 20px;}
.haexe_home_carousel_desc_list_content span{float: right;height:13px;}
.haexe_home_carousel_desc_list_content span:after{content: "";display: block;clear: both;}
.haexe_home_carousel_desc_list_content label{display: inline-block;height:13px;}
.haexe_home_carousel_desc_list_content p{font-size: 12px;}
.haexe_home_carousel_tree_wrapper img{position: absolute;bottom:-410px;}
/*.haexe_home_carousel_desc_list{display: none;}*/
.haexe_home_carousel_tree_wrapper div ul{position: absolute;width: 100%;}
.tree_decroration_1, .tree_decroration_2{display:block;width: 140px;height: 105px;background:url(../img/img_wbl/img_sprite_00000.png);}
.tree_decroration_1{background-position: -287px 0;position: absolute;bottom: -440px;left: -30px;}
.tree_decroration_2{background-position: -287px -113px;}
.haexe_home_carousel_tree_wrapper .tree_decroration{position: absolute;bottom:-460px;left: -30px;}
.tree_desc_1{background-position: -433px -2px;left: 50px;top: 180px;}
.tree_desc_2{background-position: -433px -67px;left: 140px;top: 60px;}
.tree_desc_3{background-position: -443px -134px;left: 113px;top: 145px;}
.tree_desc_4{background-position: -442px -194px;left: 162px;top: 180px;}
.tree_desc_5{background-position: -442px -257px;left: 240px;top: 155px;}
.tree_desc_6{background-position: -436px -322px;left: 300px;top: 100px;}
.tree_desc_7{background-position: -443px -393px;left: 300px;top: 166px;}
.tree_desc_8{background-position: -378px -214px;left: 270px;top: 245px;}
.tree_desc_9{background-position: -380px -270px;left: 130px;top: 260px;}
.haexe_home_bene_wrapper{padding:5px;width: 100%;border: 1px solid #b2b2b2;position: relative;}

.haexe_home_bene_desc_list{display: none;width:100%;height:100%;}
.haexe_home_bene_desc_list ul{position: absolute;}
.haexe_home_bene_wall_wrapper{position: relative;}
.haexe_home_bene_list_wrapper{margin:0;width: 100%;height: 100%;position: relative;}
.haexe_home_bene_list_wrapper:after{content: "";display: block;clear: both;}
.haexe_home_bene_list_wrapper li{float: left;margin:5px 0 0 0;width: 25%;height:60px;position: relative;}
.haexe_home_bene_list_wrapper li a{display: block;margin:16px 0 0 0;padding:14px 0;width: 100%;height:40px;text-align: center;border-left: 2px solid #fff;color: #3c3c3c;background: #e3e3e3;}
.haexe_home_bene_list_wrapper li a:hover{color: #111;}
.haexe_home_bene_list_wrapper li:first-child a{border-left: 0;}
.haexe_home_bene_list_wrapper .ourschool{float:left;margin:21px 0 0 0;width: 24%;line-height: 6.8em;text-align: center;}
.haexe_home_bene_list_wrapper .ourschool a{display:block;width: 105%;height: 40px;background: #e3e3e3;line-height: 3.8em;border-left: 1px solid #fff;color: #f5751c;font-weight: bolder;}
.haexe_home_bene_list_wrapper .shown{background: url(../img/img_wbl/img_sprite_00000.png) -71px -413px;}
.haexe_home_bene_list_wrapper .shown a{background: 0;}
.haexe_home_bene_list_wrapper .shown span{display: block;}
.haexe_home_bene_list_wrapper li span{display:none;margin:0 auto;width: 20px;height:25px;background: url(../img/img_wbl/img_sprite_00000.png);position: absolute;left: 46%;}
.haexe_home_bene_list_wrapper .num_1 span{background-position: -66px -472px}
.haexe_home_bene_list_wrapper .num_2 span{background-position: -106px -472px}
.haexe_home_bene_list_wrapper .num_3 span{background-position: -149px -472px}
.haexe_home_bene_desc_list ul li a{display: block;width: 100%;height: 100%;cursor: pointer;}
.bene_desc_1{left: 70px;top: 110px;}
.bene_desc_2{left: 270px;top: 60px;}
.bene_desc_3{left: 373px;top: 75px;}
.bene_desc_4{left: 452px;top: 60px;}
.bene_desc_5{left: 452px;top: 133px;}
.bene_desc_6{left: 518px;top: 80px;}
.bene_desc_7{left: 24px;top: 96px;}
.bene_desc_8{left: 110px;top: 85px;}
.bene_desc_9{left: 220px;top: 110px;}
.bene_desc_10{left: 372px;top: 102px;}
.bene_desc_11{left: 410px;top: 20px;}
.bene_desc_12{left: 460px;top: 100px;}
.bene_desc_13{left: 60px;top: 90px;}
.bene_desc_14{left: 240px;top: 50px;}
.bene_desc_15{left: 370px;top: 120px;}
.bene_desc_16{left: 430px;top: 50px;}
.bene_desc_17{left: 40px;top: 260px;}
.bene_desc_18{left: 220px;top: 240px;}
.bene_desc_19{left: 430px;top: 180px;}
.haexe_home_features_wrapper{position: relative;margin:40px 0 10px 0;height: 240px;}
.haexe_home_features_wrapper:after{content: "";display: block;clear: both;}
.haexe_home_features_item{float: left;margin:0 0 0 2%;width: 49%;}
.haexe_home_features_item:first-child{margin: 0;}
.haexe_home_features_item h3{margin:0.6em 1em;position: relative;z-index: 1;color: #fff;font-size: 1.5em;font-weight: bold;}
.haexe_home_features_item{position: relative;}
.haexe_home_features_item a{display: block;width: 100%;position: absolute;top: 0;}
.haexe_home_features_item a img{width: 100%;}
.haexe_home_moreexe_wrapper{margin: 0 0 30px 0;}
/*~~~~~~~~~~~haexe_list~~~~~~~~~~~*/
.thanksgivingtree_wrapper{margin:0 auto;width: 97%;height:420px;box-shadow: 3px 3px 4px #bbb}
.thanksgivingtree_wrapper:after{content: "";display: block;clear: both;}
.tab_wrapper{margin:0 auto;width: 96%;border-bottom: 1px solid #b2b2b2;}
.tab_item{display: block;width: 110px;height: 30px;line-height: 30px;text-align: center;color:#eee;background: #91c81e;font-size: 1.3em;}
.tab_item:hover{color:#fff;}
.tab_item:after{content: "";display: block;margin:0 auto;width: 0;height: 0;border-style:solid;border-width: 7px 5px 0 5px;border-color:#91c81e transparent transparent transparent;position: relative;top: 1px;}
.haexe_list_wrapper{width: 100%;padding:2%;}
.haexe_list_wrapper ul li{margin:3% 0;height: 185px;}
.haexe_list_wrapper ul li img{float:left;width: 369px;}
.haexe_list_wrapper ul li div{float:left;padding:0 5px;width: 44%;height:100%;background: #f3f3f3;border-style:solid;border-width: 3px 3px 3px 0;border-color:#f3f3f3;}
.haexe_list_wrapper ul li:hover div{border-color:#91c81e;}
.haexe_list_wrapper ul li div h5{padding:10px 15px;border-bottom: 1px solid #b2b2b2;font-size: 1.3em;}
.haexe_list_wrapper ul li div p{padding:15px 2px 0 15px;line-height: 1.7em;}
.list_pagination_wrapper{width:100%;text-align: center;position: absolute;bottom:3em;color:#8e8e8e;font-family: "SimSun";font-weight: lighter;}
.list_pagination_wrapper a{color:#8e8e8e;font-family: "SimSun";}
.list_pagination_wrapper a:hover{color: #000;}
.thanksgivingtree_tree{position: absolute;right:300px;bottom:0;z-index: 1;}
.thanksgivingtree_bg{width:100%;position: absolute;top: 0;left: 0;z-index: 0;}
.thanksgivingtree_article_item{width: 330px;text-align: right;z-index: 1;position: absolute;right: 20px;bottom:30px;line-height:1.8em;font-size: 1.1em;}
.thanksgivingtree_wrapper ul{display:block;height:97%;position: absolute;bottom: 0;left: -30px;}
.thanksgivingtree_wrapper .tree_decroration_2{position: absolute;top:-96px;right: 0;z-index: 1;}

.note_wrapper input{float: right;}
.share_icon{float:left;width:22px;height:28px;background: url(../img/img_wbl/img_sprite_00000.png) 0 -37px;}
.note_wrapper .save_item{float:right;padding:1em 0;width: 155px;}
.save_item:after{content: "";display: block;clear: both;}

.small_title_wrapper{margin:1em 0;width: 100%;height: 2px;background: #91c81e;}
.small_title_wrapper label{margin:0 10px;padding:0 2px;position: relative;bottom: 11px;background: #fff;color:#91c81e;font-size: 1.2em;font-weight: bold;}
.haexedetaillist_preview_wrapper{margin:0 auto;width: 590px;}
.haexedetaillist_preview_list_wrapper ul li{padding:0 1em;height: 30px;border-bottom: 1px solid #d9d9d9;}
.haexedetaillist_preview_list_wrapper ul li label{margin: 0 1em;}
.haexedetaillist_list_wrapper li{padding:15px;border-bottom: 1px solid #969696;}
.haexedetaillist_list_wrapper li:after{content: "";display: block;clear: both;}
.haexedetaillist_list_wrapper li .list_button:after{content: "";display: block;clear: both;}
.haexedetaillist_list_wrapper ul li label{display:block;margin:0 0 20px 10px;height: 100%;}
.haexedetaillist_preview_list_wrapper .list_title{display:inline-block;width:75%;line-height: 30px;}
.haexedetaillist_wrapper{margin:0 auto;width: 95%;}
.haexedetaillist_list_wrapper .list_title{float:left;width:85%;line-height: 1.5em;}
.haexedetaillist_list_wrapper .list_title:after{content: "";display: block;clear: both;}
.list_title label{float: left;}
.haexedetaillist_list_wrapper .list_title a{display:block;width: 90%;}
.haexedetaillist_list_wrapper .list_button{float:left;padding:0 0 0 14px;width: 15%;}
.haexedetaillist_list_wrapper .list_button a{display:inline-block;margin:0 2px;width: 20px;height: 20px;line-height: 20px;}
.see_all{float:right;margin:1em;width: 60px;height: 20px;line-height:20px;background: url(../img/img_wbl/img_sprite_00000.png) -271px -223px;text-align: center;}
.haexedetaillist_list_wrapper .list_button .share{background: url(../img/img_wbl/img_sprite_00000.png) 0 -63px;}
.haexedetaillist_list_wrapper .list_button .share:hover{background: url(../img/img_wbl/img_sprite_00000.png) -20px -63px;}
.edit_item, .delete_item{display:inline-block;width: 20px;height: 30px;text-align:center;}
.edit_item, .delete_item{line-height: 20px;}
.edit_item{background-position: 0 0;}
.delete_item{background-position: -20px -21px;}
.benewall_article_wrapper{width: 100%;height: 355px;z-index: -1;}
.benewall_article_item{position: absolute;z-index: 1;}
.benewall_article_item p{padding: 4em 0 0 3em;color: #fff;line-height:1.8em;font-size: 1.1em;text-align: left;}
.benewall_bg{width:100%;position: absolute;top: 0;left: 0;z-index: 0;}
.benewall_article_wrapper ul{position: absolute;bottom: 0;z-index: 1;width: 100%;height:100%;}
.timeline_wrapper{margin:0 auto;display:block;width: 620px;height: 40px;}
/*~~~~~~~~~~~spendaniceday~~~~~~~~~~~*/
.niceday_banner_wrapper{margin:0 auto;width: 600px;}
.niceday_banner_wrapper p{float:left;margin:10px 0 0 0;width: 410px;height: 170px;font-size: 14px;line-height: 24px;}
.statistics_item{/*margin:4em 0;*/font-size: 1.4em;font-weight: bolder;}
.statistics_item label{color:#f77e2b;}
.niceday_wrapper .statistics_item{width: 100%;border-top: 1px solid #000;text-align: right;}
.calendar_wrapper{width:100%;}
.calendar_dateselect_wrapper{margin:0 auto;padding:1em 3em;width: 98%;border-bottom:2px solid #969696;}
.calendar_dateselect_wrapper select{margin:0 1em 0 0;}
.calendar_main_wrapper{margin:0 auto;width: 95%;}
.calendar_main_wrapper thead th{text-align: center;padding: 30px 0 10px 0;font-size: 1.2em;}
.calendar_main_wrapper tbody{border-width: 2px;border-style: solid none none solid;border-color:#badb6a;}
.calendar_main_wrapper tbody td{height: 70px;border-width: 2px;border-style: none solid solid none;border-color:#badb6a;}

.calendar_main_wrapper .day{height: 100%;position: relative;}
#calendar .even_bg{background: #efffea;display: block;}
.calendar_event_item{display:none;position: absolute;bottom: 0.1em;}
.calendar_main_wrapper tbody td:hover .calendar_event_item{display: block;}
.calendar_event_item a{float:left;margin:0 0 0 0.1em;padding: 0.1em 0.2em;background: #9bcb27;border-radius: 3px;color: #fff;}
.btn-toolbar{display: none;}
.cell-day .number{display: none;}
.calendar_main_wrapper tbody tr td label{float: right;margin:2px 20px 0 0;position: relative;z-index: 1;font-weight: bold;font-size: 1.1em;}
.calendar_main_wrapper tbody tr td span{float: left;margin:2px;position: relative;z-index: 1;}
.editevent_wrapper{display:none;position: fixed;top: 30%;width: 690px;z-index: 3;}
.editevent_inner{margin:0 auto;padding:1em 2em;width: 526px;height:300px;background: #fff;border: 1px solid #b4b4b4;}
.editevent_inner textarea{margin:0 auto;display:block;width: 480px;height: 190px;}
.editevent_inner .delete{float: right;margin:0 0 1em 0;width: 1em;height: 1em;z-index: 1;}
.editevent_inner .delete:after{content: "";display: block;clear: both;}
.newevent_wrapper{width: 100%;}
.newevent_inner{margin:0 auto;width: 470px;}
.newevent_inner .note_content{margin: 0 auto;width: 414px;}
.note_content h5{margin:20px 0;font-size: 1.2em;}
.newevent_inner .windowbar{width: 100%;height: 28px;background: #c9e48f;}