@charset "utf-8";

/*英雄训练营首页*/
.hero_training_banner {
    width: 700px;
    height: 305px;
    margin-left: 10px;
    background-image: url("../img/hero_trainingcamp/hero_trainingcamp_banner.png");
}

.hero_training_banner ul {
    position: relative;
    top: -160px;
    left: 60px;
    width: 600px;
    list-style: none;
}

.hero_training_banner ul li {
    height: 20px;
    font: bold 14px "microsoft yahei", "微软雅黑";
    text-align: left;
}

.hero_training_link {
    width: 690px;
    height: 40px;
    margin: 30px 0 0 -5px;
}
.hero_training_detail {
    width: 656px;
    height: 205px;
    margin: 25px 0 0 17px;
}
.hero_training_detail_img {
    display: inline-block;
    float: left;
}

.hero_training_detail_caption {
    display: inline-block;
    float: left;
    width: 233px;
    height: 205px;
    border: 1px solid #d5d5d5;
    border-left: none;
    background-color: #f5f5f5;
}

.hero_training_detail_caption h5, .hero_training_splendidmoment_caption h5 {
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
}

.hero_training_detail_caption p, .hero_training_splendidmoment_caption p {
    margin-top: 10px;
    padding: 0 10px;
    line-height: 20px;
    text-indent: 2em;
}

.activity-hr {
    width: 220px;
    height: 1px;
    margin: 5px auto;
    padding: 0;
    background-color: #D5D5D5;
    overflow: hidden;
}

.training_button_interested {
    width: 160px;
    margin: 0 auto;
    background: #91c31e;
/*
    color: #fff;
*/
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    box-shadow: 1px 2px 1px #50a000;
    -moz-box-shadow: 1px 2px 1px #50a000;
    -webkit-box-shadow: 1px 2px 1px #50a000;
}

.training_button_interested:hover {
    box-shadow: 0 2px 8px rgba(145, 200, 30, 0.8);
    -moz-box-shadow: 0 2px 8px rgba(145, 200, 30, 0.8);
    -webkit-box-shadow: 0 2px 8px rgba(145, 200, 30, 0.8);
}

.training_button_interested a {
    color: #fff;
}
.hero_training_oldtimey{
    margin-left: 15px;
}

.hero_training_oldtimey_link {
    height: 30px;
    margin-top: 85px;
}
.hero_training_oldtimey .container{
    padding-left: 12px;
}
/*往期回顾默认*/
.hero_training_waitingforyou {
    margin: 10px 0 0 10px;
}

.hero_training_default {
    display: block;
    margin: 0;
    padding: 9px;
}

/*往期回顾Formal*/
.activity .thumbnail,  .class-info .thumbnail {
    display: block;
    margin-bottom: 24px;
    max-width: 210px;
    padding: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.class-info .thumbnail{
    margin-bottom: 0;
}

.match-height .act-item, .class-info .act-item {
    display: inline-block;
    width: 5%;
    min-width: 210px;
    margin: 10px 5px;
    padding: 0 0;
}

.match-height .thumbnail:hover, .class-info .thumbnail:hover {
    border: 1px solid #91c31e ;
}

.match-height h5 {
    width: 208px;
    height: 40px;
    margin: -10px 0 0 -9px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    font: 14px "微软雅黑";
    color: #3c3c3c;
}

.match-height p {
    width: 298px;
    margin-top: 5px;
    padding-left: 10px;
}

.match-height p {
    margin-bottom: 0;
    font: 12px/18px "宋体";
    color: #505050;
}

/*英雄训练营详情页默认*/
.class-list .container {
    margin-left: 10px;
}
.class-list .trainingcamp_ad {
    margin: 10px 0 0 40px;
}

/*英雄训练营详情页*/
.hero_classlist_link {
    width: 690px;
    height: 40px;
    margin: 60px 0 0 5px;
}

.oldtimey_initpage {
    margin: 85px 0 0 15px;
}

.schooltime {
    height: 36px;
    background-color: #b4b4b4;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.information-detailed ul{
    padding-left: 30px;
}

.information-detailed ul li {
    height: 30px;
    font-size: 14px;
}

.information-detailed ul li span {
    font: bold 16px #3c3c3c;
}

.information-detailed .number-statistics {
    margin-top: -15px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.information-detailed .number-statistics span {
    font-size: 16px;
    color: #91c31e;
}

.information-detailed .apply {
    margin-bottom: 10px;
}

.white-space {
    height: 270px;
}
.white-space_trainingcamp{
    height: 105px;
}
.white-space_splendidmoment{
    height: 65px;
}

/*往期回顾详情*/
.hero_training_splendidmoment {
    height: 250px;
    margin: 25px 0 0 20px;
}

.hero_training_splendidmoment_caption {
    position: relative;
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
    border: 1px solid #d5d5d5;
    border-left: none;
    background-color: #f5f5f5;
}

.hero_training_splendidmoment_caption h4 {
    padding-left: 20px;
    font-weight: bold;
}

.hero_training_splendidmoment_caption small {
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 14px;
}

.hero_training_splendidmoment_caption .for-long {
    width: 240px;
}

.hero_training_splendidmoment_caption p {
    font-size: 14px;
    overflow: hidden;
}

.hero_training_splendidmoment_caption .hero_training_timestamp span {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 14px;
}

.hero_splendidmoment_link {
    margin: 40px 0 0 0;
}
.hero_splendidmoment .container{
    position: relative;
    width: 700px;
    padding: 5px 0 50px 35px;
}

#ycontainer{
    width: 618px;
    padding: 0;
}
.hero_splendidmoment .container #ycontainer .grid{
    margin: 3px;
    width: 200px;
}

.hero_splendidmoment .mien-title {
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

.hero_splendidmoment .mien-name {
    width: 100%;
    padding: 0 20px;
}
/*弹出层 我感兴趣*/
/*没有开班*/
.pop-container{
    margin-top: 64px;
}

.pop-container .beInterested-content{
    margin: 0 auto;
    width: 350px;
}

.pop-container .beInterested-content .form-group{
    margin-bottom: 10px;
}

.pop-container .beInterested-content .col-title{
    display: inline-block;
    float: left;
    padding-right: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.pop-container .beInterested-content .col-input{
    width: 250px;
    height: 30px;
}

.pop-container .btn-group{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

/*开班列表*/
.pop-container h4{
    margin: 0 auto;
    width: 80px;
}
.pop-container .class-list .container{
    padding-left: 40px;
    width: 715px;
}

.training_button_interested.disabled{
    background-color: #b4b4b4;
    box-shadow: 1px 2px 1px #646464;
    -moz-box-shadow: 1px 2px 1px #646464;
    -webkit-box-shadow: 1px 2px 1px #646464;
}

.training_button_interested.disabled:hover {
    background-color: #91c31e;
    box-shadow: 0 2px 8px rgba(145, 200, 30, 0.8);
    -moz-box-shadow: 0 2px 8px rgba(145, 200, 30, 0.8);
    -webkit-box-shadow: 0 2px 8px rgba(145, 200, 30, 0.8);
}

.pop-container .act-item .number-statistics{
    margin: 18px 0;
    font-size: 16px;
    font-weight: normal;
}
