@charset "utf-8";
/*度过美好一天记录*/
.main_container .container{
    position: absolute;
    width: 750px;
    height: 360px;
}

.main_container .event .form-group {
    margin-top: 50px;
    height: 195px;
}

.main_container .form-group .control-label {
    text-align: right;
}
#event_content{
    width: 414px;
    height: 195px;
    overflow: auto;
}
.event .help-block {
    position: absolute;
    left: 380px;
    top: 210px;
    width: 400px;
    height: 30px;
}

.help-block p {
    color: #b4b4b4;
}
.help-block p span{
    color: #ff0000;
}

.container .divider-hr {
    margin: 45px auto 20px auto;
    width: 700px;
    height: 1px;
    background-color: #91c31e;
}
.container .btn-group{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 30px;
}

.container .btn-group .btn{
    padding: 0!important;
}

.container .btn-group div .btn{
    padding: 0;
    width: 120px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}
.container .btn-group > div{
    display: inline-block;
    float: left;
}
.container .btn-group .selected button{
    background-color: #91c31e;
    box-shadow: 1px 2px 1px #50a000;
}
.container .btn-group .disabled button{
    margin: 0 10px;
    background-color: #b4b4b4;
    box-shadow: 1px 2px 1px #646464;
}
/*度过美好一天评分*/
.main_container .radio-group{
    margin-left: 250px;
    height: 25px;
}

/*上传图片*/
.container .file-box{
    margin-top: 55px;
    margin-left: 70px;
}
.container .file-box .default-img{
    position: absolute;
    border: 2px solid #91c31e;
}
.container .file-box .txt{
    width:200px;
    height:134px;
    border:1px solid #cdcdcd;
}
.container .file-box .upload-file .file{
    position:absolute;
    top:200px;
    left:105px;
    height:24px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:260px
}

.container .file-box .upload-file .btn{
    margin-top: 10px;
    padding: 0;
    width: 110px;
    height: 30px;
    background-color: #91c31e;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.form-container {
    position: absolute;
    left: 315px;
    top: 55px;
}
.form-container .form-group{
    display: block;
    height: 30px;
}
.form-group .caption, .date, .introduction{
    display: inline-block;
    float: left;
    width: 50px;
}
.form-group .input-caption{
    display: inline-block;
    float: left;
    width: 300px;
    height: 24px;
}
.form-group .input-date {
    float: left;
    width: 140px;
    height: 24px;
}
.form-group .textarea-intr{
    float: left;
    width: 300px;
    height: 106px;
    overflow: auto;
}
.form-container .activity-content{
    position: relative;
    left: 120px;
    top: -25px;
    height: 30px;
}
/*校园空间新建活动*/
.activity {
    margin-top: 36px;
}
.activity .form-group{
    margin-left: 150px;
    width: 500px;
    height: 25px;
}
.activity .form-group span{
    text-align: right;
}
.activity .form-group .label {
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}
.activity .form-group .selected{
    padding: 0 0 0 10px ;
    background-color: #91c31e;
    box-shadow: 1px 2px 0 #50a000;
}

.activity .form-group .disabled{
    padding: 0;
    background-color: #b4b4b4;
    -webkit-box-shadow: 1px 2px 0 #646464;
    -moz-box-shadow: 1px 2px 0 #646464;
    box-shadow: 1px 2px 0 #646464;
}
.activity .form-group .label .close{
    display: inline-block;
    padding: 0 5px 0 0;
    font-size: 16px;
}
.activity .form-group .label-style{
    width: 115px;
    height: 23px;
}
.activity .label-container{
    position: relative;
    width: 500px;
    height: 30px;
    margin-bottom: 66px;
}
/*校长寄语*/
.send-word-container {
    height: 200px;
}
.container .form-container .send-word {
    height: 166px;
}
/*校长寄语预览*/
.preview-container {
    margin: 20px auto 40px;
    width: 580px;
    height: 650px;
}
.preview-container .send-word .caption{
    width: 380px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
}
.preview-container .send-word .content {
    margin: 10px auto 30px auto;
    width: 520px;
    line-height: 35px;
    overflow: visible;
    text-align: justify;
    text-indent: 2em;
}
.preview-container .send-word .divider-hr{
    width: 520px;
    height: 1px;
    padding: 0;
    margin: 0;
    background-color: #b4b4b4;
}
.preview-container .send-word .help-block {
    padding-right: 0;
    text-align: right;

}
.preview-container .send-word .help-block a{
    color: #3C3C3C;
}
.preview-container .send-word{
    margin-top: -2px ;
    border: 2px solid #b4b4b4;
}
/*秀场竞技*/
.show-container {
    margin-bottom: 155px;
}

/*新建秀场*/
.newshow-container {
    margin-bottom: 80px;
}
.match-caption, .match-introduction {
    width: 70px !important;
}
.signup-date-group {
    margin-top: 90px;
}
.signup-date,.vote-date {
    width: 95px;
    line-height: 30px;
}
.end-date {
    display: inline-block;
    float: left;
    margin-left: 100px;
}
.form-container .form_datetime input, .add-on{
    width: 100px;
    height: 30px !important;
}
/*校际比赛*/
.interschool-container {
    display: none;
    position: relative;
    margin-left: 160px;
    margin-bottom: 15px;
    width: 530px;
    height: 275px;
    background-color: #e9f4d2;
}
.interschool-container .target-school{
    position: relative;
    width: 100%;
    height: 30%;
    padding: 10px 20px;
}
.interschool-container .target-school .school{
    position: relative;
    display: block;
    float: left;
    margin: 1px;
    padding-left: 5px;
    width: 118px;
    height: 22px;
    line-height: 22px;
    text-align: left;
}
.interschool-container .target-school .default{
    background-color: #fff;
}
.interschool-container .target-school .selected{
    background-color: #91c31e;
}
.target-school .close{
    padding-right: 5px;
    color: #fff;
    font-size: 16px;
}
.all-school {
    position: relative;
    width: 510px;
    height: 190px;
    text-align: left;
}
.all-school .choose-school{
    margin: -10px auto 0 20px;
    display: block;
    width: 120px;
    height: 30px;
}
.all-school-btn ul{
    display: block;
    margin: -2px 10px 0 10px;
    width: 510px;
    height: 165px;
    background-color: #fff;
    border: 1px solid #b4b4b4;
    overflow: auto;
}
.all-school-btn ul li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding: 0;
    width: 110px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}
