
.hp-share-left {
    background: #ffffff;
    margin-top: 20px;
	border:1px solid #d6d6d6;
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.activity-header-slide {
	text-align: left;
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
	padding: 0 1px;
}

.activity-header-slide .hd {
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #646464;
	position: relative;

}

.activity-header-slide .hd ul {
	float: left;
	position: absolute;
	left: 5px;
	top: -1px;
	height: 32px;
	width: 100%;
}

.activity-header-slide .hd ul li {
	float: left;
	cursor: pointer;
	color: #414141;
	width: 20%;
	text-align: center;
}

.activity-header-slide .hd ul li a {
	font: 18px "微软雅黑";
}

.activity-header-slide .hd ul li.on {
	height: 40px;
	background: #91c81e;
	color: #ffffff;
}

.activity-header-slide .hd ul li.on a {
	color: #ffffff;
}

.activity-header-slide .hd ul li.on::after {
	content: "";
	width: 12px;
	height: 7px;
	position: absolute;
	background: url(../img/side-bar.png) no-repeat;
	top: 40px;
}

.activity-header-slide .hd ul .ahs-first.on::after {
	left: 65px;
}

.activity-header-slide .hd ul .ahs-second.on::after {

	left: 200px;
}

.activity-header-slide .hd ul .ahs-third.on::after {
	left: 335px;
}


.activity-header-slide .bd ul {
	padding: 15px;
	zoom: 1;
	overflow: auto;
	position: relative;
}

.activity-header-slide .bd li {

}

.activity-header-slide .bd li p {
	line-height: 18px;
	font-size: 12px;
	color: #414141;

}

.activity-header-slide .bd ul:hover {
	overflow: auto;
}

.activity-header-slide .bd li:hover a,
.activity-header-slide .bd li.active a {
	color: #5aaa00;
}

.activity-header-slide .bd ul li a {
	font-size: 14px;
	color: #414141;
}

.activity-header-slide .bd ul li:first-child a::before {
	content: "| ";
}

.activity-header-slide .bd ul li a::after {
	content: "|";
	padding: 0 0 0 8px;
}

.activity-header-slide .bd li .date {
	float: right;
	color: #999;
}

.activity {
	margin-left: 14px;
}


.activity .thumbnail, .match-height .thumbnail {
    border-radius: 0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}
.activity .thumbnail{
	width: 202px;
	padding:4px;
}
.activity .thumbnail:hover{
	border:1px solid #91c31e;
	}

.match-height .act-item {
    padding: 0 0;
    width: 20%;
    min-width: 210px;
    margin: 0 5px;
	float: left;
}

.act-item h4 {
	margin:0 0 10px 0;}
.act-item h4 a{
	font:14px "微软雅黑";
	color:#3c3c3c;
}
.match-height .act-item .btn {
    color: #b4b4b4;
}

.match-height h3 {
	font: 14px "微软雅黑" ;
	margin:0;
}
.match-height h3 a{
    
    color: #3c3c3c;
}
.match-height small, .match-height p {
    font: 12px/18px "宋体";
    color: #505050;
	margin-bottom:0;
}

/** 分页 */


.activity-hr {
    height:2px;
    margin:5px auto;
    padding:0px;
    background-color:#D5D5D5;
    overflow:hidden;
}

/*快乐分享——空间*/
.act-space.thumbnail {
    border-radius: 0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 310px;
    /*text-align: center;*/
}

.act-space .act-item {
    padding: 0 0;
    width: 20%;
    min-width: 210px;
    margin: 0 5px;
}

.space-arrange{
	position:relative;
}
.space-height{
	margin-left:15px;
}
.space-height .thumbnail{
	width: 209px;
	padding:0;
	border:none;
	background-color: transparent;
	box-shadow:none;
}
.space-height .thumbnail:hover{
	border:1px solid #91c31e;
}
.space-height .thumbnail:hover {
	border:none;
	background-color: transparent;
	box-shadow:none;
}
/*.space-arrange .thumbnail{
	border:none;
	background-color: transparent;
	box-shadow:none;
}*/

/*.space-arrange .thumbnail:hover {
	border:none;
	background-color: transparent;
	box-shadow:none;
}*/

.space-height .thumbnail:hover .space-title{
	border-left:1px solid #91c31e;
	border-top:1px solid #91c31e;
	border-right:1px solid #91c31e;
}

.space-height .thumbnail:hover .space-map{
	border-left:1px solid #91c31e;
	border-bottom:1px solid #91c31e;
	border-right:1px solid #91c31e;
	border-top:none;
	padding-top:2px;
}

/*.space-arrange .thumbnail:hover .space-map img{
	margin:0 -1px -2px 0;
	padding-top:2px;
	width:207px;
	height:126px;
}*/

.sde-triangle{
	width:13px;
	height:11px;
	position:absolute;
	top:-10px;
	left:52px;
	background:url(../img/hp_share/shade.png) no-repeat;
}	
.badge-school{
	width:52px;
	height:50px;
	border-radius:0 0 10px 0;
	-moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
	border:2px solid #91c81e;
	position:absolute;
	top:-10px;
	left:0;
	background-color:#fff;
}

.badge-school img{
	width:42px; 
	height:42px;
	margin:1px 3px;
	}
.space-title{
	width:209px;
	height:44px;
	border-left:1px solid #989898;
	border-top:1px solid #989898;
	border-right:1px solid #989898;
	margin:0 auto;
}
.space-title p{
	margin:5px 0 0 60px;
	font:12px/16px "宋体";
	color:#3c3c3c;
	width:134px;	
}
.space-height .space-map{
	display:block;
	border:2px solid #989898;
	margin:0 auto;
}
.space-height .space-map img{
	width:207px;
	height:128px;
	
}

/*个人*/
.perdonage-act{
	margin-left:5px;
}
.perdonage-act .act-item {
    padding: 0 0;
    width: 20%;
    min-width: 210px;
    margin: 0 0;
}
.perdonage-act .thumbnail{
	border:1px solid #fff;
	background-color: transparent;
	box-shadow:none;
	margin:0 0 14px 0;
	}
.perdonage-hg {
	margin-left:12px;
}
.perdonage-hg .thumbnail{
	width:212px;
	padding:0;
}
.perdonage-hg .thumbnail:hover{
	border:1px solid #91c31e;
}
.perdonage-hg .personage-img{
	display:block;
	border:1px solid #a0a0a0;
	margin:0 auto;
	
}
.perdonage-hg .personage-img img{
	width:210px;
	height:135px;
	}

.cap-personage h3{
	font:14px/24px "微软雅黑";
	margin-left:10px;
}

.cap-personage p{
	font:12px/20px "宋体";
	margin-left:10px;
}
.cap-personage{
	margin:8px auto 0;
}
/*班级*/

.cap-class{
	text-align:center;
}

.cap-class h3{
	font:14px/14px "微软雅黑";
	color:#505050;
	margin:8px 0;
}

.cap-class p{
	width:100%;
	height:30px;
	font:12px/30px "宋体";
	color:#505050;
	border-top:2px dashed #c9c9c9;
}
.activity .class-img img{
	width:200px;
	height:135px;
}
.share-match .share-how img{
	width:210px;
	height:141px;
}
.share-match{
	margin-left:14px;
}
.share-match .thumbnail{
	padding:0;
}
.share-match .thumbnail:hover{
	border:1px solid #91c31e;
}
/* 快乐分享 弹出层*/
.pop-container .newAlbum-box{
    margin-top: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.newAlbum-box .form-group{
    margin-bottom: 0;
}
.newAlbum-box .col-title{
    display: inline;
    width: 100px;
    font-size: 16px;
    text-align: right;
    vertical-align: top;
}
.newAlbum-box .col-input{
    display: inline;
    margin-bottom: 10px;
    width: 400px;
    height: 24px;
}
.newAlbum-box .col-textarea{
    width: 400px;
    height: 168px;
}
.newAlbum-box .help-block{
    position: relative;
    text-align: right;
    padding-right: 20px;
    top: -55px;
}
.newAlbum-box .help-block.for-name{
    top: -206px;
}
.newAlbum-box .help-block span{
    color: #ff0000;
}