
.hp-share-left {
    background: #ffffff;
    margin-top: 20px;
}

.activity-header {
    width: auto;
    margin: 10px;
}
.activity-header a {
    font: 20px "微软雅黑";
}

.activity-first-list {
    margin: 10px;
    border-bottom: solid #b4b4b4;
}
.activity-first-list > li {
    display: inline;
    margin: 10px;
    width: 200px;
}
.green_line {
    background: url(../img/hp_share/green_line.png) no-repeat;
    width: 690px;
    height: 10px;
    margin: 0 0 20px 20px;
}

/** 快乐分享导航栏 二级菜单 */
.activity-sub-list {
    margin: 15px 0;
}
.activity-sub-list a {
    font: 12px "宋体";
    text-align: center;
    padding:0 10px;
}

.activity-sub-list li {
    display: inline;
    /*width: 100px;*/
}

.activity-sub-list > li::before {
    content: "|";
}

.activity-sub-list  > li:last-child::after{
    margin: 0 0 0 10px;
    content: "|";
}

.activity .thumbnail {
    border-radius: 0;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 310px;
    /*text-align: center;*/
}

.activity .act-item {
    padding: 0 0;
    width: 20%;
    min-width: 210px;
    margin: 0 5px;
}

.activity .thumbnail:hover {
    border: solid #91c31e 1px;
}

.activity h3 {
    font: 14px "微软雅黑" ;
    color: #3c3c3c;
}

.activity small, .activity p {
    font: 12px "宋体";
    color: #777;
}

.activity-pagin, .pagin-center {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.pagin-center .pagination > li > a,  .pagin-center .pagination > li > span{
    color: #3c3c3c;
}

.activity-hr {
    height:2px;
    margin:5px auto;
    padding:0px;
    background-color:#D5D5D5;
    overflow:hidden;
}