@charset "utf-8";
/*评测详情页面*/
.test_banner {
    width: 550px;
    height: 140px;
    margin: 30px auto;
}

.hp_test_left {
    background: #ffffff;
    margin-top: 20px;
    border:1px solid #d6d6d6;
    border-radius:6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.back {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 700;
}

.green_line {
    background: url(../img/hp_share/green_line.png) no-repeat;
    width: 690px;
    height: 10px;
    margin: 20px 0 0 20px;
}

.emotion {
    height: 32px;
    background-color: #91c31e;
    border-style: solid;
    border-bottom-color: #50a000;
    border-left-color: #50a000;
    border-top-color: #91c31e;
    border-right-color: #91c31e;
}

.emotion p, .character p, .goodness p, .tenacity p {
    padding: 0 20px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.emotion_detail {
    height: 110px;
    background-color: #d7f0aa;
    padding-left: 50px;
}

.character {
    height: 32px;
    background-color: #78c8c8;
    border-style: solid;
    border-bottom-color: #37a0a0;
    border-left-color: #37a0a0;
    border-top-color: #78c8c8;
    border-right-color: #78c8c8;
}

.character_detail {
    height: 110px;
    background-color: #c8ffff;
    padding-left: 50px;
}

.goodness {
    height: 32px;
    background-color: #ffb450;
    border-style: solid;
    border-bottom-color: #ff8219;
    border-left-color: #ff8219;
    border-top-color: #ffb450;
    border-right-color: #ffb450;
}

.goodness_detail {
    height: 110px;
    background-color: #ffe6be;
    padding-left: 50px;
}

.tenacity {
    height: 32px;
    background-color: #be96e6;
    border-style: solid;
    border-bottom-color: #b482e1;
    border-left-color: #b482e1;
    border-top-color: #be96e6;
    border-right-color: #be96e6;
}

.tenacity_detail {
    float: left;
    width: 550px;
    height: 110px;
    background-color: #f0dcfa;
    padding-left: 50px;
}

.test_banner img {
    position: absolute;
    right: 150px;
    top: 130px;
}

.gray-line {
    margin: 0;
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #b4b4b4;
}

p.question {
    padding-top: 20px;
    font-size: 14px;
}

p.test-number {
    font-size: 14px;
    font-weight: normal;
}

p.test-number span {
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    color: #ffb450;
}

p.question-number {
    font-weight: bold;
}

p.question-number span {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    color: #ff8219;
}

.test_questions {
    margin: 45px 0 0 130px;
}

.test_questions form {
    font-size: 14px;
    line-height: 30px;
}

.test_questions form label {
    font-style: normal;
    font-weight: normal;
    margin-left: 10px;
}

.pre_question {
    position: absolute;
    left: 150px;
    width: 100px;
    height: 30px;
    margin-top: 40px;
    background-color: #b4b4b4;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 1px 2px 0 #646464;
    cursor: pointer;
}
.pre_question a span{
    color: #ffffff;
}
.next_question, .submit {
    position: absolute;
    left: 280px;
    width: 100px;
    height: 30px;
    margin-top: 40px;
    background-color: #91c31e;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 1px 2px 0 #50a000;
    cursor: pointer;
}
.next_question a span, .submit a span{
    color: #ffffff;
}
.pre_question:hover {
    background-color: #91c31e;
    box-shadow: 1px 2px 0 #50a000;
}

.for-first {
    position: absolute;
    left: 150px;
}

.recommend {
    margin-top: 75px;
    margin-left: 80px;
}

.recommend ul {
    height: 250px;
    margin-left: 10px;
    padding: 0;
}

.recommend ul li {
    width: 570px;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
}
.recommend_test{
    position: relative;
    top: 75px;
    margin-bottom: 370px;
}

/*评测结果页*/
.result_banner{
    position: absolute;
    left: 100px;
    top: 58px;
    background-image: url("../img/img_hp_test/hp_test_result_banner.jpg");
    width: 585px;
    height: 310px;
    margin: 30px auto;
}
.test_result{
    position: absolute;
    right: 50px;
    top: 80px;
    width: 270px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #f5f5f5;
}
.test_result h4{
    padding-top: 15px;
    padding-left: 20px;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.test_button{
    position: absolute;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    font-family: "Microsoft YaHei", "微软雅黑";
    cursor: pointer;
}
.test_button:hover{
    background-color: #91c31e;
    border: 1px solid #50a000;
}
.test_button span{
    color: #ffffff;
}
.test_again{
    right: 200px;
    bottom: 60px;
    background-color: #91c31e;
    box-shadow: 1px 2px 1px #50a000;
}
.more_test{
    right: 70px;
    bottom: 60px;
    margin-left: 20px;
    background-color: #b4b4b4;
    box-shadow: 1px 2px 1px #646464;
}
.test_result_icon {
    position: relative;
    left: 80px;
    top: 340px;
    width: 585px;
    height: 35px;
}
.test_result_icon span{
    float: right;
    width: 35px;
    height: 35px;
    font-size: 24px;
    cursor: pointer;
}
.result_zan{
    color: #ff0618;
}
.result_share{
    color: #646464;
}
.recommend_playing{
    position: relative;
    top: 280px;
    margin-bottom: 255px;
}
/*快乐测评首页*/
.hp_test_home_banner{
    margin-left: 10px;
    background-image: url("../img/img_hp_test/hp_test_home_banner.png");
    width: 700px;
    height: 305px;
}
.hp_test_home_banner .test_home_banner_text{
    list-style: none;
    margin-top: -140px;
    margin-right: 120px;
}
.hp_test_home_banner ul li{
    height: 20px;
    font-family: "Microsoft YaHei", "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.hp_test{
    width: 690px;
    margin: 30px 0 34px 0;
    position: relative;
}
.system_statistics{
    width: 690px;
    height: 40px;
    background-image: url(../img/img_hp_test/hp_test_hotlabel.png);
    background-repeat: no-repeat;
    text-align: right;
}

.hp_test_hotlabel ul{
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.hp_test_hotlabel_line {
    width: 650px;
    margin: 0 auto;
    border-bottom: 1px solid #d5d5d5;
}
.test_hotlabel_row ul li{
    width: 300px;
}
.test_hotlabel_row ol li{
    display: inline;
    height: 40px;
    line-height: 40px;
}

.hp_test_hotlabel span{
    display: inline-block;
    height: 24px;
    margin-top: 10px ;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}
.hotlabel_one, .hotlabel_two, .hotlabel_three{
    float: left;
    width: 200px;
}
.hotlabel_four, .hotlabel_fine, .hotlabel_six{
    margin-left: 100px;
}
.hotlabel_one span, .hotlabel_fine span{
    background-color: #91c31e;
    box-shadow: -1px 2px 1px #50a000;
}
.hotlabel_four span, .hotlabel_two span {
    background-color: #ffb450;
    box-shadow: -1px 2px 1px #ff8219;
}

.hotlabel_three span{
    background-color: #be96e6;
    box-shadow: -1px 2px 1px #b482e1;
}
.hotlabel_six span{
    background-color: #78c8c8;
    box-shadow: -1px 2px 1px #37a0a0;
}
.hotlabel_count span{
    width: 100px;
    text-align: right;
}
.hotlabel_count_left span {
    float: left;
    margin-left: -50px;
    color: #303030;
}
.hotlabel_count_right span{
    float: right;
    color: #303030;
}
.test_vertical_line{
    position: absolute;
    left: 350px;
    margin-top: -140px;

}
.hp_test_list_link{
    width: 690px;
    height: 40px;
    background-image: url(../img/img_hp_test/hp_test_klxp.png);
    background-repeat: no-repeat;
    text-align: right;
}
.hp_test_list {
    width: 600px;
    height: 232px;
    margin: 10px auto;
}
.list_header{
    width: 600px;
    height: 97px;
}
.list_header div{
    display: inline-block;
    float: left;
}
.list_header .list_header_title{
    width: 90px;
    float: left;
    height: 97px;
    text-align: center;
    line-height: 95px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.list_header_title span{
    color: #ffffff;
}
.list_header_icon{
    margin-left: 10px;
}
.test_description{
    width: 420px;
    padding: 15px;
    line-height: 20px;
    text-indent: 25px;
}
.list_header_emotion{
    background-color: #d7f0aa;
    box-shadow: 1px 3px 0 #91c31e;
}
.list_header_title_emotion, .list_details_label_emotion span{
    color: #ffffff;
    background-color: #91c31e;
    box-shadow: 1px 3px 0 #50a000;
}
.list_header_goodness{
    background-color: #ffe6be;
    box-shadow: 1px 3px 0 #ffb450;
}
.list_header_title_goodness,.list_details_label_goodness span{
    color: #ffffff;
    background-color: #ffb450;
    box-shadow: 1px 3px 0 #ff8219;
}
.list_header_character{
    background-color: #c8ffff;
    box-shadow: 1px 3px 0 #78c8c8;
}
.list_header_title_character, .list_details_label_character span{
    color: #ffffff;
    background-color: #78c8c8;
    box-shadow: 1px 3px 0 #37a0a0;
}
.list_header_tenacity{
    background-color: #f0dcfa;
    box-shadow: 1px 3px 0 #be96e6;
}
.list_header_title_tenacity, .list_details_label_tenacity span {
    color: #ffffff;
    background-color: #be96e6;
    box-shadow: 1px 3px 0 #b482e1;
}
.list_tenacity .test_description{
    margin-bottom: 20px;
}
.test_list_showmore{
    clear: both;
    width: 700px;
    height: 20px;
}
.test_list_showmore a{
    cursor: pointer;
    outline: none;
}
.list_details {
    height: 134px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑";
    border: 1px solid #d5d5d5;
    box-shadow: 1px 2px 1px #d5d5d5;
}

.list_details_table{
    position: relative;
    padding-left: 0;
    top: -5px;
}

.list_details_table_active{
    display: none;
}
.list_details_col{
    float: left;
    height: 30px;
    margin: 0;
    padding-left: 0;
}
.list_details_col li{
    padding-bottom: 5px;
}
.list_details_row_hr{
    width: 600px;
    margin: 20px  auto;
    border-bottom: 1px solid #d5d5d5;
}

.list_details_question{
    text-indent: 25px;
    float: left;
    width: 298px;
}

.list_details_label{
    float: left;
    margin-left: 20px;
    width: 160px;
    text-align: center;
}
.list_details_label span{
    font-size: 12px;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.list_details_btn{
    float: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-indent: 0;
}
.list_details_btn_start span{
    color: #91c31e;
}

.show-moretest{
    width: 690px;
    background-color: #ffffff;
    margin-top: -20px;
    margin-bottom: 10px;
    overflow: hidden;
}