/* 头部样式 */
.u-logion {
    float: right;
    margin: 4px 100px 0 0;
}

.u-logion a {
    font: 12px "宋体";
    color: #3c3c3c;
}

.u-logion ul li {
    width: 75px;
    display: inline;
    margin: 0 10px;
}

a.u-msg {
    background: url(../img/info-icon.png) no-repeat;
    padding: 3px 0 3px 23px;
    height: 40px;
    line-height: 40px;
}

a.u-info {
    background: url(../img/personal-icon.png) no-repeat;
    padding: 3px 0 3px 22px;
    height: 40px;
    line-height: 40px;
}

a.u-help {
    background: url(../img/online-icon.png) no-repeat;
    padding: 3px 0 2px 25px;
    height: 40px;
    line-height: 40px;
}

.h-nav-a {
    font: 18px "微软雅黑";
    line-height: 70px;
    width: 130px;
    text-align: center;
}

.h-nav-ul {
    height: 50px;
}

.h-drop-menu {
    min-width: 130px;
    border: solid 2px green;
    text-align: center;
}

.h-logo {
    padding: 0 0 10px 0;
    margin:  0 10px 0 0;
}

.i-search {
    width: 220px;
    padding: 10px 40px 0 0;
}

.input-group-btn  {

}


/* 友情链接 */
.f-partner {
    text-align: center;
    margin: 10px 0 0 0;
}

.f-partner span img {
    margin: 0 0 10px 0;
    max-width:100%;
}

.f-partner a {
    margin: 0 10px;
    font: normal small-caps normal  12px "宋体";
}

/* 注册 */
.b-joinus {
    text-align: center;
    margin: 10px 0 0 0;
    background: url(../img/back-bottom.jpg) no-repeat;
}

.b-joinus a {
    font: normal small-caps normal 18px "微软雅黑";
    padding: 2px 25px 2px 25px;
    line-height:60px;
    margin: 0 10px ;
}

#b-reg {
    color: green;
    border: 5px solid green;
}

#b-known {
    color: orangered;
    border: 5px solid orangered;
}

/* SNS */
.b-sns {
    margin: 20px 0 0 0;
    max-width: 1040px;
}

.sns-container {
    margin: 0 auto;
    max-width: 520px;
    position: relative;
}
.sns-icon {
    border-radius: 13px 13px 13px 13px;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.35), 0 -1px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    float: left;
    margin: 0 30px 60px;
    position: relative;
    transition: all 1s ease 0s;
    width: 70px;
}
.sns-icon:hover {

}
.sns-icon:before {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 transparent;
    border-radius: 13px 13px 13px 13px;
    content: " ";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease 0s;
    width: 100%;
}
.sns-icon:hover:before {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 transparent;
    height: 0;
    transition: all 1s ease 0s;
}
.sns-icon:after {
    background: -moz-linear-gradient(center top , rgba(230, 230, 230, 0.3) 0%, rgba(230, 230, 230, 0) 100%) repeat scroll 0 0 transparent;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    bottom: -31px;
    content: " ";
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
 }
.sns-icon img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.sns-fadeout {
    opacity: 0.5;
}


/* 右侧 样式 */

/* 个人信息 */

.user_info {
    width: 300px;
    height: 88px;
    margin: 22px 0 100px 0;
    text-align: center;
}

.user_name {
    padding: 0 0 0 30px;
}

.user_header {
    float: left;
}

#user_sc{
    margin-left: 10px;
    font-family: "微软雅黑";
    text-align: left;
    padding: 18px 0 0 80px;
}


#user_sc {
    margin: 0 0 8px 0;
}

.name {
    font-size: 16px;
    color: #3c3c3c;
}

.school_name {
    font-size: 14px;
    color: #5aa000;
}

.user_info hr {
    margin:10px;
    height:2px;
    border:0px;
    background-color:#91c81e;
    color:#91c81e;
}

.user_friend, .user_name{
    padding: 0 0 10px 0;
    text-align: center;
}


/* 微课 */
.user-lesson, .user-tag {
    /*width: 300px;*/
}

.user-tag {
    background: url(../img/label-mine.png) no-repeat ;
    background-position : center;
    height: 352px;
    padding: 0 0 0 10px;
}


.slideTxtBox {
    border:1px solid #ddd;
    border-style: none solid solid solid;
    text-align:left;
    height: 300px;
    overflow: hidden;
    -moz-border-radius: 0 0 10px 10px;      /* Gecko browsers */
    -webkit-border-radius: 0 0 10px 10px;   /* Webkit browsers */
    border-radius:0 0 10px 10px;            /* W3C syntax */
    margin: 10px 0 0 0 ;
}

.slideTxtBox .hd {
    height:30px;
    line-height:30px;
    background:#f4f4f4;
    padding:0 20px;
    /*border-bottom:1px solid #ddd;*/
    position:relative;
}
.slideTxtBox .hd ul {
    float:left;
    position:absolute;
    left:20px;
    top:-1px;
    height:32px;
    display: inline;
}

.slideTxtBox .hd ul li {
    float:left;
    padding:0 15px;
    cursor:pointer;
    color: #414141;
    width: 100px;
    text-align: center;
}

.slideTxtBox .hd ul li.on {
    height:30px;
    background:#91c81e;
    /*border:1px solid #ddd;*/
    color: #ffffff;
    border-bottom:2px solid #fff;
}

.slideTxtBox .bd ul {
    padding:15px;
    zoom:1;
}

.slideTxtBox .bd li {
    height:28px;
    line-height:28px;
    font-size: 12px;
    color: #414141;
    white-space:nowrap;
}

.slideTxtBox .bd ul li a{
    color: #414141;
}

.slideTxtBox .bd li .date {
    float:right;
    color:#999;
}
