body {font: 12px "microsoft yahei";}
ul{padding:0;}
li {
    list-style-type:none;
}

a, a:link, a:visited, ins {
    color: #3c3c3c;
    text-decoration: none;
}

a:hover {
    color: #91c21e;
    text-decoration: none;
}
/*~~~~~~~~~~main_container~~~~~~~~~~*/

/*~~~~~~~~~~header~~~~~~~~~~*/
.header_container{height: 110px;min-width:1024px;box-shadow: 2px 2px 5px #ccc;position: relative;z-index: 1;}
.header_login_wrapper{margin:0 auto;padding:10px 0 0 0;width: 1024px;}
.header_login_wrapper:after{content: "";display: block;clear: both;}
.header_login_wrapper ul{float: right;margin:0;}
.header_login_wrapper li{float: left;margin:0 0.5em;line-height: 30px;}
.header_login_wrapper a{display:block;color:#888;height: 30px;font-family: "songti"}
.header_login_wrapper a:hover span{color:#91c31e;}
.header_login_wrapper .glyphicon{color:#91c31e;}
.nav_wrapper{margin:0 auto;width: 1024px;}
.home_logo{float: left;margin:0 0 0 20px;}
.home_logo a{display:block;width: 100%;height: 100%;}
.nav_main_list_wrapper{float: left;margin:20px 0 0 40px;width: 570px;height:15px;}
.nav_main_list_inner{}
.nav_main_list_inner:after{content: "";display: block;clear:both;}
.nav_main_button{padding:5px 0;font-size: 1.4em;font-weight: normal;color:#888;}
.nav_main_button:focus{color:#91c21e;}
.nav_main_list_item{float:left;width:110px;margin:0 4px;padding:0 0 2em 0;position: relative;text-align: center;}
.nav_main_list_item:hover .nav_main_button, .nav_main_button:focus{border-bottom:2px solid #91c31e;color:#91c31e;}
.nav_main_list_item a{display:inline-block;}
.nav_dropdown_wrapper li{display: block;}
.nav_dropdown_item{display: none;margin:15px 0;width:100%;background:#fff;border:1px solid #91c31e;position: absolute;top:30px;z-index: 1;opacity: 0;}
.nav_dropdown_item:before, .nav_dropdown_item span{content: "";display: block;margin:0 auto;width:0;height:0;border-style:solid;position: relative;}
.nav_dropdown_item span{border-width: 0 10px 10px 10px;border-color:transparent transparent #fff transparent;top: -18px;}
.nav_dropdown_item li{display: block;clear: both;width: 100%;height: 2em;position: relative;top: -12px;}
.nav_dropdown_item li a{display: block;width: 100%;line-height:2em;text-align: center;font-size: 1.1em;color:#888;}
.nav_dropdown_item li a:hover{background: #91c31e;color:#fff;}
.nav_dropdown_item:before{border-width: 0 10px 10px 10px;border-color:transparent transparent #91c31e transparent;top: -10px;}

.layout_serachbar_item{float:right;margin:20px 0 0 0;width: 200px;height:34px;}
.layout_serachbar_item:after{content:"";display: block;clear: both;}
.layout_serachbar_item input{float: left;width: 80%;}
.layout_serachbar_item button{float: left;margin:0 0 0 -3px;width:20%;height:100%;}
.layout_serachbar_item span{float: left;}
/*~~~~~~~~~~mian_container~~~~~~~~~~*/
.main_container{margin:0 auto;width: 100%;min-width:1024px;background: url(../img/back-banner.jpg) repeat-x center 0;}
.main_container:after, .nav_wrapper:after{content: "";display: block;clear: both;}
.main_content_wrapper{margin:0 auto;width: 1024px;}
.left_content_wrapper{float:left;width: 690px;}
.banner_wrapper{margin:0 auto;width: 1024px;position: relative;}
.layout_dashboard_wrapper{/*float:right;*/width: 300px;height:300px;position:relative;right: 27px;top: 20px;}
.layout_dashboard_wrapper:after{content: "";display: block;clear: both;}
.layout_dashboard_indicator{position: absolute;top: 0;right: 0;overflow: hidden;border-radius: 90px;z-index: 1;}
.banner_wrapper .left_content_container{float: left;}
.left_content_wrapper .left_content_body { background: none repeat scroll 0 0 #ffffff;  border: 1px solid #d6d6d6;  border-radius: 6px;  margin-top: 20px;position: relative;}
.right_content_wrapper{float: right;width: 280px;position: relative;}
.layout_dashboard_text{position: absolute;top: 0;z-index: 3;}
.layout_dashboard_text img{display: block;width: 100%;height: 100%;position: relative;}
.layout_dashboard_bg{width:100%;height:100%;position: absolute;top: 0;z-index: 2;}
.layout_dashboard_indication_wrapper, .layout_dashboard_indication_hover_wrapper{margin:6% auto;padding:0;width: 85%;height:85%;-webkit-transform:rotate(-12deg);-moz-transform:rotate(-12deg);position:relative;border-radius: 50%;opacity: 0.8;overflow: hidden;z-index: 0;}
.layout_dashboard_indication_hover_wrapper{position: absolute;top: 0;left: 22px;z-index: 4;}
.layout_dashboard_indication_wrapper:after{content: "";display: block;clear: both;}
.layout_dashboard_indication_wrapper li, .layout_dashboard_indication_hover_wrapper li{position: absolute;}
.layout_dashboard_indication_hover_wrapper li:hover{cursor:pointer;}
.layout_dashboard_indication_1, .layout_dashboard_indication_2, .layout_dashboard_indication_3, .layout_dashboard_indication_hover_1, .layout_dashboard_indication_hover_2, .layout_dashboard_indication_hover_3{width: 122%;height: 0;border-style: solid;border-color:transparent;}
.layout_dashboard_indication_1, .layout_dashboard_indication_hover_1{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);top:75px;left: -190px;border-width: 130px 0 0 220px;z-index: 5;}
.layout_dashboard_indication_3, .layout_dashboard_indication_hover_3{-webkit-transform:rotate(-129deg);-moz-transform:rotate(-129deg);top:63px;left: 145px;border-width: 0 0 200px 176px;z-index: 5;}
.layout_dashboard_indication_1, .layout_dashboard_indication_2, .layout_dashboard_indication_3{border-color: transparent;background: none;}
.layout_dashboard_indication_2, .layout_dashboard_indication_hover_2{width:0%;-webkit-transform:rotate(11deg);-moz-transform:rotate(11deg);top:-14px;left: 27px;border-width: 130px 120px 0;}
.layout_dashboard_indication_3, .layout_dashboard_indication_hover_3{width: 82%;}
.layout_dashboard_indication_wrapper{background: #d3e9a5;position: absolute;left: 20px;}
.layout_dashboard_indication_wrapper .box{width: 100%;height: 50%;}

.dropdown_fadein{-webkit-animation:dropdown_fadein 0.3s forwards;-moz-animation:dropdown_fadein 0.3s forwards;}

@-webkit-keyframes dropdown_fadein{
    0% {opacity: 0;-webkit-transform: translateY(-10px);}
    100% {opacity: 1;-webkit-transform: translateY(0px);}
}
@-moz-keyframes dropdown_fadein{
    0% {opacity: 0;-moz-transform: translateY(-10px);}
    100% {opacity: 1;-moz-transform: translateY(0px);}
}
/*~~~~~~~~~~userinfo_wrapper~~~~~~~~~~*/
.userinfo_wrapper{margin:5em 0 0 0 ;}

.footer_container {min-width: 1024px;}
.footer_container:after{content: "";display: block;clear:both;}
.footer_sns_wrapper{margin:0 auto;}
.footer_sns_wrapper:after{content: "";display: block;clear: both;}
.f-partner p a{color:#888;}
#footer {  height: 300px;  margin: 10px 0;  }
#copy-right {  font: 12px "微软雅黑";  text-align:  center;  line-height: 30px;  height: 30px;  width: 100%; min-width: 1024px; border-top:1px solid #ccc;  }
/* common style  */
/* 此处放通用样式 */
.u-header-photo {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}

/* base style */
/* 此处放基本样式，比如按钮，a 标签 */


/* other style */


.green_line {
    background: url(../img/hp_share/green_line.png) no-repeat;
    width: 100%;
    height: 10px;
    margin: 10px 0 20px 0;
}

/* 学校空间 控件 */
.sp-edit-tool {
    width:96%;
    text-align: right;
    margin: 0 0 10px ;

}
.sp-edit-tool a {
    color: #b4b4b4;
}
.sp-edit-tool a:hover {
    color: #91c31e;
}

.teacher-video-view:hover .wind-video {
    top: 28px;
}

.teacher-video-view .wind-video {
    position: absolute;
    top:30px;
    left: 80px;
}

