@charset "utf-8";
/*我的档案 我的消息*/
ul,ol,li{
    list-style: none;
}

/*left-nav*/
.scale-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background:url(../img/footmark-foot.png) no-repeat scroll 0 -42px rgba(0, 0, 0, 0)!important;
    vertical-align: middle;
}

.footprint ul li:hover .scale-icon{
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -63px rgba(0, 0, 0, 0)!important;
}

.production-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -126px rgba(0, 0, 0, 0)!important;
    vertical-align: middle;
}

.footprint ul li:hover .production-icon {
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -147px rgba(0, 0, 0, 0)!important;
}
/**/

.slideTxtBox-myMessage {
    text-align: left;
    overflow: visible;
    -moz-border-radius: 0 0 10px 10px; /* Gecko browsers */
    -webkit-border-radius: 0 0 10px 10px; /* Webkit browsers */
    border-radius: 0 0 10px 10px; /* W3C syntax */
    margin: 10px 0 0 0;
}

.slideTxtBox-myMessage .hd {
    width: 100%;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #646464;
    position: relative;

}

.slideTxtBox-myMessage .hd > ul {
    float: left;
    position: absolute;
    left: 5px;
    top: -1px;
    height: 32px;
    width: 100%;
}

.slideTxtBox-myMessage .hd > ul > li {
    float: left;
    cursor: pointer;
    color: #414141;
    width: 18%;
    text-align: center;
    background-color: #f5f5f5;
}

.slideTxtBox-myMessage .hd > ul .hd-left {
    margin: 0 0 0 5%;
    font: 16px/38px "微软雅黑";
}

.slideTxtBox-myMessage .hd > ul .hd-right {
    margin: 0 5% 0 0;
    font: 16px/38px "微软雅黑";
}

.slideTxtBox-myMessage .hd > ul > li.on {
    height: 40px;
    background: #91c81e;
    /*border:1px solid #ddd;*/
    color: #ffffff;
}

.slideTxtBox-myMessage .bd > ul {
    padding: 15px;
    height: auto;
    zoom: 1;
    overflow: visible!important;
    position: relative;
}

.slideTxtBox-myMessage .bd .bd-bar {
    width: 12px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 13%;
    background: url(../img/side-bar.png) no-repeat;
    z-index: 2;
}
.slideTxtBox-myMessage .bd .bdd-bar {
    width: 14px;
    height: 9px;
    position: absolute;
    top: 0;
    left: 31%;
    background: url(../img/side-bar.png) no-repeat;
    z-index: 2;
}

.slideTxtBox-myMessage .bd > li {

}

.slideTxtBox-myMessage .bd > li > p {
    line-height: 18px;
    font-size: 12px;
    color: #414141;

}

.slideTxtBox-myMessage .bd > ul:hover {
    overflow: auto;
}

.slideTxtBox-myMessage .bd > li:hover > p {
    color: #5aaa00;
}

.slideTxtBox-myMessage .bd > ul > li > a {
    color: #414141;
}

.slideTxtBox-myMessage .bd > li .date {
    float: right;
    color: #999;
}
/*收发件*/


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #dff4bb;
}

.nav-tabs > li > a{
    color: #fff;
}

.pane-wrapper > .active, .pane-wrapper > .prev, .pane-wrapper > .next {
    display: block!important;
}

.pane-wrapper > div{
    display: none;!important;
}

.bd .mail-box{
    display: block;
    margin-left: 16px;
}

.bd .mail-box > li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-left: 4px;
    width: 124px;
    height: 28px;
    line-height: 28px;
    background-color: #c1c1c1;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.bd .mail-content {
    width: 100%;
}

.bd .mail-count{
    display: block;
    padding: 0 25px 0;
    font-size: 12px;
    border-bottom: 1px solid #c1c1c1;
}

.mail-count > p > span{
    color: #91c31e;
}

.mail-content .mail-btn-group {
    padding: 4px 20px 26px ;
}

.mail-content .mail-btn-group .btn{
    width: 75px;
}

.mail-content .mail-btn-group .btn a:hover{
    color: #50a000;
}

.mail-content .divider-line.green{
    margin: 0 auto;
    width: 96%;
    height: 1px;
    background-color: #91c31e;
}

.mail-content .mail-main-container .every-email{
    margin-left: 20px;
    width: 100%;
}

.mail-content .mail-main-container .every-email li {
    display: inline-block;
    float: left;
    padding-left: 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #c1c1c1;
}

.mail-content .mail-main-container .every-email label{
    font-weight: normal;
}

.every-email .sender{
    width: 80px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.every-email .theme{
    width: 390px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.every-email .time{
    width: 120px;
    float: right;
}

.slideTxtBox-myMessage .nav-tabs{
    border: none;
}

.slideTxtBox-myMessage .nav-tabs > li > a{
    margin-right: 0;
    line-height: 28px;
    border: none;
    border-radius: 0;
}

.nav-tabs > li > a{
    padding: 0;
}

/*发件箱*/

.pane-wrapper #inbox, #outbox, #newMessage{
    margin-top: 20px;
}

.pane-wrapper .col-title{
    padding-right: 10px;
    padding-left: 0;
}

.pane-wrapper .form-horizontal textarea, .reply-message .form-horizontal textarea, .showPageContent textarea{
    margin: 0!important;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#outbox .btn-group, #newMessage .btn-group{
    width: 40%;
    margin-left: 35%;
}

#outbox .btn-group div .btn, #newMessage .btn-group div .btn, .showPageContent .btn-group div .btn{
    margin-bottom: 10px;
    padding: 0;
    width: 120px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
#outbox .btn-group > div, #newMessage .btn-group > div, .showPageContent .btn-group > div{
    display: inline-block;
    float: left;
}
#outbox .btn-group .selected button, #newMessage .btn-group .selected button, .showPageContent .btn-group .selected button{
    background-color: #91c31e;
    box-shadow: 1px 2px 1px #50a000;
}
#outbox .btn-group .disabled button, #newMessage .btn-group .disabled button, .showPageContent .btn-group .disabled button{
    margin: 0 10px;
    background-color: #b4b4b4;
    box-shadow: 1px 2px 1px #646464;
}

/*分页*/
.activity-pagin, .pagin-center {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
}

.activity-pagin, .pagin-center .pagination{
    padding: 0 10px;
}

.pagin-center .pagination{
    display: inline-block;
}

.pagin-center .pagination > li > a,  .pagin-center .pagination > li > span{
    padding: 0 5px;
    color: #3c3c3c;
    font-size: 14px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.pagin-center .pagination > .disabled > a, .pagin-center .pagination > .disabled > span{
    color: #b4b4b4;
}

.pagination > li .btn-group{
    display: inline;
}
.pagination .btn-group .dropdown-menu{
    margin: 20px 0 0 60px;
    min-width: 60px;
}

/*展示页面内容*/
.showPageContent {
    width: 90%;
    margin: 0 auto;
}

.showPageContent .caption {
    font-size: 14px;
    font-weight: bold;
}

.showPageContent .detail {
    font-size: 12px;
    color: #646464;
}

.showPageContent .btn-group{
    width: 70%;
    margin: 10px 20%;
}

.showPageContent textarea{
    padding: 15px 10px;
    line-height: 1.8em;
}

/*我的档案 我的测评*/
.myTestContent {
    width: 95%;
    padding: 30px 20px;
}

.myTestContent ul li{
    list-style: none;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid #e9f4d2;
}

.myTestContent p{
    display: inline-block;
    float: left;
    margin: 0;
    padding-left: 10px;
    width: 85%;
}

.myTestContent p:hover{
    color: #91c31e;
}

.myTestContent .btn{
    padding: 0 10px;
    height: 24px;
}

.myTestContent button:hover{
    color: #91c31e;
}

/*我的档案 我的集体*/
.testing-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -84px rgba(0, 0, 0, 0)!important;
    vertical-align: middle;
}

.testing-icon.pink{
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -105px rgba(0, 0, 0, 0);
}

.footprint ul li.active .testing-icon, .footprint ul li:hover .testing-icon{
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -105px rgba(0, 0, 0, 0)!important;
}

.myTeamContent {
    margin: 30px auto;
    width: 95%;
}

.myTeamContent > ul > li{
    padding: 20px 14px;
    height: 120px;
    border-top: 1px solid #b4b4b4;
}

.myTeamContent .column li{
    display: inline-block;
    float: left;
}

.myTeamContent .column li.badge{
    margin-right: 14px ;
    background-color: #fff;
}

.myTeamContent .column li.content{
    width: 55%;
}

.myTeamContent .column li.content > h5{
    font-size: 14px;
    font-weight: bold;
}

.myTeamContent .column li.content > p{
    font-size: 12px;
    line-height: 1.8em;
}

.myTeamContent .column li.status{
    float: right;
    width: 17%;
}

.myTeamContent .column li .currentSchool button{
    margin: 10px 0;
    width: 110px;
    height: 30px;
    background-color: #b4b4b4;
    color: #fff;
    font-size: 16px;
    border: none;
}

.myTeamContent .column li .currentSchool.selected button{
    background-color: #91c31e;
}

.myTeamContent .column li .approval-status button{
    margin-left: 10px;
    width: 70px;
    color: #3C3C3C;
}

.myTeamContent .column li .approval-status.hasApproval button{
    color: #91c31e;
}

/*我的集体 加入集体*/
.left_content_wrapper .left_content_body{
    position: absolute;
}
.title {
    margin: 20px 0 0 30px;
    font-size: 16px;
}

.title .current{
    color: #91c31e;
    text-decoration: underline;
}

.green_line {
    width: 660px;
    height: 10px;
    margin: 20px 0 0 10px;
    background: url(../img/hp_share/green_line.png) no-repeat;
}

.joinTeam-container{
    height: 180px;
}

.joinTeam-container .figure-img01{
    display: inline-block;
    float: left;
    padding: 10px 0 0 10px;
    width: 180px;
}

.joinTeam-container .search-group{
    display: inline-block;
    float: left;
    margin: 30px 0 0 0;
    width: 275px;
    font-size: 14px;
}

.joinTeam-container .search-group label{
    line-height: 25px;
    text-align: right;
}

.joinTeam-container .search-group .form-search{
    margin-bottom: 10px;
}

.joinTeam-container .search-group .form-search .btn{
    margin-left: -35px;
    padding: 0 0 0 15px;
    height: 24px;
    background-color: transparent;
    color: #b4b4b4;
    text-align: left;
}

.joinTeam-container .search-group .form-search .btn:visited{
    border: none;
}

.joinTeam-container .search-class{
    margin-top: 10px;
    opacity: 0.5;
}

.joinTeam-container .newSchool{
    margin-left: -25px;
    padding-top: 30px;
    display: inline-block;
    float: left;
    width: 240px;
}

.joinTeam-container .newSchool button, .newClass button{
    width: 110px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    background-color: #b4b4b4;
    box-shadow: 1px 2px 0 #646464 ;
    -webkit-box-shadow: 1px 2px 0 #646464 ;
    -moz-box-shadow:1px 2px 0 #646464 ;
}

.joinTeam-container .newSchool button.new, .newClass button.new {
    background-color: #91c31e;
    -webkit-box-shadow: 1px 2px 0 #50a000 ;
    -moz-box-shadow:1px 2px 0 #50a000 ;
    box-shadow: 1px 2px 0 #50a000 ;
}

.figure-img02{
    display: block;
    padding: 320px 130px 550px;
}

/*弹出层*/
.form-group-pop {
    margin-top: 50px;!important;
}

.form-group-pop .form-group{
    margin-bottom: 10px;
}

.form-group-pop .form-group label{
    padding-right: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}

.radio-group{
    margin: -7px 0 0 15px;
    padding: 10px;
    width: 293px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#selectAddress label{
    width: 65px;
    text-align: left;
    font-size: 12px!important;
    font-weight: normal;
}

.divider-hr {
    margin: 20px 0 10px 25px;
    width: 700px;
    height: 1px;
    background-color: #91c31e;
}

.btn-group{
    display: block;!important;
    width: 230px;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.btn-group a div button{
    display: inline-block;
    float: left;
    padding: 0;
    width: 110px;
    height: 30px;
    font-size: 16px;
    color: #fff;
}

.btn-group a div.selected button{
    background-color: #91c31e;
}

.btn-group a div.disabled button{
    margin-left: 10px;
    background-color: #b4b4b4;
}

.apply-message{
    width: 280px;
    margin: 90px auto 60px;
}

.apply-message .success-icon {
    display: inline-block;
    float: left;
    margin-right: 5px;
    height: 30px;
    font-size: 26px;
    color: #91c31e;
}

.apply-message h4{
    padding: 3px;
}

/*我的集体 班级*/
.search-school input{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.search-class-onfocus {
    opacity: 1!important;
}

.searchCondition .btn {
    margin-left: 0px!important;
    width: 138px;
    border: 1px solid #b4b4b4;
    border-radius: 0;
}

.searchCondition .dropdown-menu{
    left: 90px;
    border-radius: 0;
}

.searchCondition .dropdown-menu > li > a span {
    padding-right: 10px;
    color: #91c31e;
}

.newClass{
    width: 230px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.newClass button{
    display: inline-block;
    float: left;
}

/*我的集体 新建班级弹出层*/
.pop-joinTeam-container{
    display: inline-block;
    float: left;
    position: relative;
    left: 160px;
    top: 40px;
    width: 60%;
}
.pop-joinTeam-container .pop-search-group{
    width: 320px;
}
.joinClass-img{
    display: inline-block;
    margin: 30px 0 20px 20px;
    width: 120px;
}

.form-group-pop .btn-group{
    margin-top: 20px;
}

.pop-search-group .form-search{
    display: inline-block;
}

.pop-search-group  .associationName{
    margin-top: 30px;
}
