@charset "utf-8";
.main_content_float{
	overflow:hidden;
}
/*.document {
    margin-top: 28px;
}
*/
.footprint {
	float:left;
    width: 262px;
    height: 735px;
    background: url(../img/stamp-file.png) no-repeat;
	margin-top:16px;
}

.footprint-title {
    font: 24px "微软雅黑";
    color: #fff;
    padding: 16px 0 0 60px;
    letter-spacing: 6px;
    margin-bottom: 48px;
}
.footprint .footprint-title-rich{
	display:block;
	font: bold 16px/34px "微软雅黑";
    color: #fff;
	width:158px;
	height:34px;
	margin:0 0 54px 44px;
	text-align:center;
}
.footprint ul {
    width: 168px;
    font: 16px "微软雅黑";
    color: #646464;
    margin-left: 59px;

}

.footprint ul li span {
    font-size: 14px;
}

.personal-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -21px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.personal-icon.pink {
    background: url(../img/footmark-foot.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.footprint ul li:hover .personal-icon{
    background: url(../img/footmark-foot.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.footprint ul li:hover .testing-icon{
	 background: url(../img/footmark-foot.png) no-repeat scroll 0 -105px rgba(0, 0, 0, 0);
	}
	
.scale-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -42px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.scale-icon.pink {
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -63px rgba(0, 0, 0, 0);
}

.footprint ul li:hover .scale-icon{
	 background: url(../img/footmark-foot.png) no-repeat scroll 0 -63px rgba(0, 0, 0, 0);
	}
	
.testing-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -84px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.testing-icon.pink {
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -105px rgba(0, 0, 0, 0);
}

.production-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -126px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.production-icon.pink {
    background: url(../img/footmark-foot.png) no-repeat scroll 0 -147px rgba(0, 0, 0, 0);
}

.footprint ul li:hover .production-icon{
	 background: url(../img/footmark-foot.png) no-repeat scroll 0 -147px rgba(0, 0, 0, 0);
	}
	
.footprint ul li {
    width: 168px;
    height: 44px;
    line-height: 44px;
    padding-left: 22px;
}

.footprint ul li a {
    color: #505050;
    text-decoration: none;
}

.footprint ul li.active , .footprint ul li:hover {
    color: #ff7800;
    -webkit-box-shadow: 1px 1px 4px 1px #f6c18a inset;
    -moz-box-shadow: 1px 1px 4px 1px #f6c18a inset;
    -o-box-shadow: 1px 1px 4px 1px #f6c18a inset;
    box-shadow: 1px 1px 4px 1px #f6c18a inset;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
	background-color:#fff9f3;
}

.footprint ul li.active a{
	color: #ff7800;
	}

.footprint ul li:hover a {
    color: #ff7800;
}

.footprint-text {
	float:left;
    width: 704px;
    background: url(../img/personage-file.png) no-repeat;
    padding-top: 40px;
    font: 14px "微软雅黑";
    color: #3c3c3c;
	margin:38px 0 32px 18px;
}
.shade-link{
	font: bold 18px/22px "微软雅黑";
	color:#ff7800;
	margin:-36px 0 20px 30px;
	
	-webkit-text-shadow:3px 0px 1px #fff, 0px -3px 1px #fff, -3px 0px 1px #fff, 0px 3px 1px #fff;
    -moz-text-shadow:3px 0px 1px #fff, 0px -3px 1px #fff, -3px 0px 1px #fff, 0px 3px 1px #fff; 
    -o-text-shadow:3px 0px 1px #fff, 0px -3px 1px #fff, -3px 0px 1px #fff, 0px 3px 1px #fff; 
    -ms-text-shadow:3px 0px 1px #fff, 0px -3px 1px #fff, -3px 0px 1px #fff, 0px 3px 1px #fff; 
    text-shadow:3px 0px 1px #fff, 0px -3px 1px #fff, -3px 0px 1px #fff, 0px 3px 1px #fff;
}
.footprint-content {
    width: 704px;
	min-height:770px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
	padding-bottom:30px;
}

.member-footp {
    overflow: hidden;
    width: 550px;
    margin: 24px 0 0 32px;
}

.member-footp img {
    width: 72px;
    height: 72px;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.member-footp ul {
    float: left;
    margin: 4px 0 0 20px;
}

.member-footp ul li {
    height: 22px;
    line-height: 22px;
}

.member-footp ul li em {
    font-style: normal;
}

.member-footp ul li .spacing-em {
    padding-left: 14px;
}

.member-footp ul li span {
    font: 12px "宋体";
}

.member-footp ul li .boy-icon {
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(../img/grayness-file.png) no-repeat center;
	vertical-align:middle;
}

.member-footp ul li .girl-icon {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(../img/croci-file.png) no-repeat center;
	vertical-align:middle;
}

.handle-footp {
    width: 456px;
	height:40px;
    margin: 16px 0 0 132px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
}

.handle-edit {
    float: left;
    width: 128px;
    height: 26px;
    background-color: #a7d34b;
    -webkit-box-shadow: inset 1px 0 #7a7a7a, 1px 1px 1px #474646;
    -moz-box-shadow: inset 1px 0 #7a7a7a, 1px 1px 1px #474646;
    -o-box-shadow: inset 1px 0 #7a7a7a, 1px 1px 1px #474646;
    box-shadow: inset 1px 0 #7a7a7a, 1px 1px 1px #474646;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.handle-edit em {
    width: 14px;
    height: 9px;
    background: url(../img/personage-bar.jpg) no-repeat;
    position: absolute;
    z-index: 4;
    bottom: -8px;
    left: 57px;
}

.footprint-content .edit-btn {
	width:60px;
	height:24px;
	padding:2px 0 0 0;
    color: #96c81e;
    margin:0 40px 0 255px;
}
.phone-box-name{
	display:inline-block;
	width:36px;
	font-weight:normal;
}


.footprint-content .inbox-btn {
	width:60px;
	height:24px;
	padding:2px 0 0 0;
    color: #ff7800;
}
.textarea-myfiles-box{
	width: 458px;
    height: 100px;
    margin: 16px 0 0px 132px;
    font: 12px/18px "宋体";
	color:#505050;
}
.footprint-content textarea {
    width: 458px;
    height: 100px;
    margin: 16px 0 22px 132px;
    font: 12px/18px "宋体";
	color:#505050;
    resize: none;
}

.list-footprint {
    width: 670px;
    border-top: 1px solid #646464;
    margin: 0 0 0 8px;
    padding: 20px 0 0 0;
}
.footprint-content .list-footprint{
	border-top: 2px solid #90c31f;
	margin: 0 0 0 16px;
}
.list-footprint li {
    width: 574px;
    height: 38px;
    line-height: 38px;
    border-top: 1px dashed #dadada;
    margin-left: 50px;
    letter-spacing: 4px;
    overflow: hidden;
}

.list-footprint span {
    margin-right: 10px;
}

.list-footprint .mobile-icon {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(../img/variety-icon.png) scroll 0 0 rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.list-footprint .birthday-icon {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(../img/variety-icon.png) scroll 0 156px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.list-footprint .seminary-icon {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(../img/variety-icon.png) scroll 0 116px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.list-footprint .grade-icon {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(../img/variety-icon.png) scroll 0 76px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.list-footprint .postbox-icon {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(../img/variety-icon.png) scroll 0 38px rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.list-footprint em {
    font: normal 12px "宋体";
    margin-left: 8px;
    letter-spacing: normal;
}

.list-footprint .hint-text {
	display:block;
    float: right;
	margin-right:50px;
}

.list-footprint .hint-text p{
	display:inline;
	font: 12px/20px "微软雅黑";
	vertical-align:middle;
	}
.tel-phone-edit{
	float:right;
	padding:0 0 0 6px;
	text-align:left;
	width:145px;
	height:24px;
	font:12px "宋体";
	margin:8px 198px 0 0;
}
.list-footprint .phone-gly-edit{
	width:165px;
	height:26px;
	float:right;
	margin: 6px 178px 0 0 ;
}
.list-footprint .phone-gly-edit .btn{
	display:block;
	float:right;
	width:17px;
	height:17px;
	padding:0;
	text-align:center;
	background-color:transparent;
	margin:3px 0 0 0;
	color:#505050;
	vertical-align:middle;

}
.list-footprint .phone-gly-edit .btn .glyphicon{
	display:block;
	text-align:center;
	font-size:16px;
	padding:0;
	margin:0;
}
.list-footprint .phone-gly-edit input{
	width:145px;
	height:26px;
	padding:0 0 0 6px;
	font:12px "宋体";
	float:left;
}
/*.list-footprint .hint-text input{
	display:inline-block;
	width:14px;
	height:14px;
	}*/
/*.affirm-btn {
    float: right;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 8px;
    background-color: #b1dc22;
    line-height: 8px;
    margin: 8px 14px 0 0;
}

.affirm-btn span,
.deny-btn span {
    padding-left: 3px;
	font-size: 8px;
}

.deny-btn {
    float: right;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 8px;
    background-color: #ffaa3a;
    line-height: 8px;
    margin: 8px 54px 0 0;
} 之前单选按钮*/

/*.footprint-content hr{
	width:670px;
	height:2px;
	color:#90c31f;
	}*/

/*2安全设置*/
.foot-list-text{
	width:640px;
	padding:0;
	margin:12px 0 0 32px;
}
.foot-list-detail{
	border-bottom:1px solid #b5b5b5;
	overflow:hidden;
}
.foot-list-detail span{
	display:block;
	float:left;
	font-size:16px;
	line-height:48px;
	color:#91c81e;
	margin:0 10px;
}
.foot-list-detail b{
	display:block;
	float:left;
	font: normal 14px/48px "微软雅黑";
	color:#3c3c3c;
	vertical-align:middle;
}
.foot-list-detail ul{
	float:left;
	margin:8px 0 0 22px;
}
.foot-list-detail ul li{
	height:34px;
	font:12px/34px "宋体";
	color:#3c3c3c;

}
.foot-list-detail .but-foot-list{
	float:right;
	width:94px;
	margin:12px 38px 0 0;
}
.but-foot-list .btn-default{
	width:94px;
	height:24px;
	padding:0;
	text-align:center;
	font:12px/24px "宋体";
	color:#3c3c3c;
	margin-bottom:12px;
}
.but-foot-list .btn-default:hover{
	color:#91c81e;
}
.marg-glyph-foot{
	padding-top:18px;	
}
.marg-glyph-three{
	padding-top:34px;
}
.nom-bot-foot{
	border-bottom:none;
}


.phone-popup .ok-girl-mail{
	margin:130px auto 0;
	overflow:hidden;
	width:350px;

}
.phone-popup .ok-girl-mail img{
	float:left;
	vertical-align:middle;
	width:100px;
	height:68px;
}
.phone-popup .ok-girl-mail .text-amend-mail{
	height:68px;
	display:block;
	float:left;
	font:14px/68px "微软雅黑";
	margin:0 0 0 10px;
}
.divider-hr-ph{
	width:700px;
	border-top:1px solid #91c81e;
	margin:0 auto;
	overflow:hidden;
	height:56px;
	padding:22px 0 0 224px;
}
.divider-hr-ph .mail-ph-save{
	width:116px;
	height:30px;
}
.divider-hr-ph .btn{
	float:left;
	margin-right:10px;
}
/*安全设置-修改密码*/
.amend-inpt{
	width:560px;
	margin-left:46px;
	height:160px;
	background: url(../img/brush-dc.jpg) right center no-repeat;
	
}
.amed-inpt-list{
	overflow:hidden;
	height:24px;
	margin-bottom:8px;
}
.amed-inpt-list label{
	display:block;
	float:left;
	text-align:right;
	width:90px;
	font:14px/24px "微软雅黑";
	color:#3c3c3c;
}
.amed-inpt-list input{
	display:block;
	width:250px;
	height:24px;
	padding:0 0 0 4px;
	font-size:14px;
	
}
.secret-alter{
	width:652px;
	height:16px;
	background:url(../img/send-link.jpg) repeat-x;
	margin:36px 0 18px 34px;
	
}
.secret-alter span{
	display:inline-block;
	background-color:#fff;
	width:60px;
	height:16px;
	font:14px/16px "微软雅黑";
	color:#91c81e;
	text-align:center;
	margin-left:8px;
}
.two-dimension{
	width:146px;
	height:146px;
	margin:24px 0 0 74px;
}
.amend-btn-box{
	width:654px;
	margin:45px auto 0;
	padding-top:22px;
	border-top:1px solid #91c81e;
}
.amend-btn{
	width:116px;
	height:30px;
	line-height:28px;
	margin:0 0 0 270px;
}
.amed-inpt-list .btn{
	padding:0;
}
.amed-inpt-list .btn-default{
	width:108px;
	height:24px;
	text-align:center;
	padding:0;
	margin:0;
	font:12px/24px "宋体";
	color:#91c81e;
}
.amed-inpt-list .inp-sign-sm{
	width:74px;
}
.amed-inpt-list .inp-sign-ph{
	width:136px;
	text-align:left;
	padding-left:4px;
}

.amend-inpt-mail{
	width:560px;
	margin-left:46px;
	height:160px;
	background: url(../img/mail-my.jpg) right center no-repeat;
	
}
.approve-bacimg{
	width:646px;
	height:224px;
	background: url(../img/please-mail.jpg) right center no-repeat;
	color:#3c3c3c;
	margin:50px 0 0 16px;
}
.shalom-text{
	width:460px;
	height:84px;
	font:16px/26px "微软雅黑";
	padding:14px 0 0 16px;
	
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(245, 245,245, 1) 100%); 
	background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(245, 245,245, 1) 100%);  
	background-image: -moz-linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(245, 245,245, 1) 100%);  
	background-image: -o-linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(245, 245,245, 1) 100%);  
}
.send-approve{
	font:12px/20px "宋体";
	margin:0 0 0 12px;
	}
.send-approve a{
	color:#ff7800;
	text-decoration: underline;
	}
.friend-nav-my{
	width:704px;
	padding-bottom:14px;
	position:relative;
}
.friend-list-mine{
	color:#3c3c3c;
	border-bottom:1px solid #646464;
	width:702px;
	padding:0 0 0 18px;
	margin:26px auto 0;
}
.friend-list-mine li{
	width:130px;
	height:40px;
	background-color:#f5f5f5;
	text-align:center;
	font:16px/40px "微软雅黑";
}
.friend-list-mine .clik-list-fd{
	background-color:#91c81e;
	position:relative;
	}
.clik-list-fd a{
	color:#fff;
}
.clik-list-fd a:hover{
	color:#fff;
}
.clik-list-fd span{
	width:12px;
	height:8px;
	background:url(../img/friend-row.png) no-repeat;
	position:absolute;
	top:40px;
	left:60px;
}
#add-popup-fd{
	display:none;
}
.add-friend-popup{
	position:absolute;
	top:40px;
	right:0;
	width:310px;
	height:162px;
	border:1px solid #9c9c9c;
	z-index:1000;
	background-color:#fff;
}
.popup-fd-title{
	font:14px "微软雅黑";
	color:#3c3c3c;
	text-align:center;
	display:block;
	margin:10px auto 4px;
}
.add-friend-popup input{
	width:250px;
	height:26px;
	padding:0;
	text-align:center;
	margin:0 auto;
} 
.add-friend-popup  .friend-btn-popup{
	overflow:hidden;
	width:256px;
	height:34px;
	margin:34px 0 0 22px;
}
.friend-btn-popup .add-friend-sure{
	float:left;
	width:116px;
	height:30px;
	margin:0 0 0 10px;
}
.friend-btn-popup a{
	color:#fff;
}
.friend-nav-my button{
	float:right;
}
.append-btn{
	float:rigth;
	width:106px;
	height:26px;
	text-align:center;
	font:16px/18px "微软雅黑";
	color:#fff;
	padding:0;
	margin:-30px 22px 0 0;
	background-color:#91c81e;
}
.append-btn:hover{
	color:#fff;
}
.content-friend-my{
	width:704px;
	overflow:hidden;
	padding:22px 20px 0 ;
}
.mine-friend-sort{
	float:left;
	font:12px "宋体";
}

.content-friend-my ul li{
	width:328px;
	height:78px;
	border:1px solid #b4b4b4;
	overflow:hidden;
	margin-bottom:10px;
}
.friend-head-smart{
	width:72px;
	height:72px;
	margin:2px;
	border-radius:4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
	}
.friend-right-my{
	float:right;
	width:240px;
	margin-right:2px;
}
.friend-name-box{
	width:240px;
	overflow:hidden;
	font: bold 12px "宋体";
}
.friend-name-box span{
	display:block;
	float:left;
	margin-top:10px;
}
.friend-name-box .stage-name{
	width:96px;
	overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	-o-text-overflow: ellipsis;
    white-space: nowrap;
}
.grade-stage-name{
	border-left:2px solid #3c3c3c;
	width:44px;
	text-align:right;
}
.friend-name-box .grade-stage-desi{
	font-weight:normal;
}
.friend-name-box img{
	margin:2px 0 0 0;
}
.college-friend{
	width:170px;
	height:14px;
	overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    white-space: nowrap;
	margin:0;
}
.my-friend-btn{
	overflow:hidden;
	width:230px;
	height:22px;
	
}
.my-friend-btn p{
	width:134px;
	float:left;
	line-height:24px;
	overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    white-space: nowrap;
}
.my-friend-btn .btn-default{
	float:right;
	width:55px;
	height:20px;
	padding:0;
	font-size:12px;
	line-height:18px;
	color:#969696;
	margin:2px 0 0 0;
	}
.my-friend-btn .btn-default:hover{
	color:#91c81e;
}
.my-friend-btn .trash-friend{
	background-color: transparent;
	width:28px;
	height:20px;
	line-height:20px;
	padding:0;
	float:right;
	margin:2px 4px 0 0;
}
.my-friend-btn .glyphicon-trash{
	color:#969696;
}

.my-friend-btn .trash-friend:hover .glyphicon-trash{
	color:#91c81e;
}
.mine-friend-sort-rg{
	float:right;
	font:12px "宋体";
}
.btn-class-apply{
	float:right;
	width:200px;
	margin-top:8px;
}
.class-space-list .friend-class-text span::before{
	content: "|";
	padding: 0 16px 0 0;
	}
.class-space-list .friend-class-textt span{
	margin-right:14px;
}
.info-class-space .friend-class-text{
	width:360px;
	text-align:left;
	line-height:20px;
	height:20px;
	}

.friend-class-text .blod-person{
	display:inline-block;
	width:100px;
	}

.class-space-list .space-apply-mar{
	height:100px;
	border-bottom:1px solid #c9c9c9;
	padding:16px 8px 20px;
	margin:8px 0;
	}
.class-space-list .space-apply-mar .space-list-img{
	float:left;
	width:56px;
	height:56px;
	border-radius:4px; /*圆角*/
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	margin-right:10px;
	}
.master-class-friend{
	width: 92px;
    height: 30px;
	}
/*我的演习*/
.mano-test-list{
	width:630px;
	margin:24px 0 0 20px;
}
.mano-test-list li{
	width:630px;
	height:40px;
	border-bottom:1px solid #dedede;
	padding:0 0 0 14px;
	font:12px/40px "宋体";
	color:#3c3c3c;
}
.mano-test-list li a{
	width:470px;
	overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    white-space: nowrap;
}
.mano-test-list li .btn-default{
	width:60px;
	height:24px;
	float:right;
	padding:0;
	font:12px/24px "宋体";
	color:#b4b4b4;
	text-align:center;
	margin:8px 56px 0 0 ;
}
.mano-test-list li .btn-default:hover{
	color:#96c81e;
}
/*我的等级*/
.rank-name-title{
	font:12px/24px "宋体";
	margin:8px 0 0 126px;
	}
.rank-img-static{
	width:592px;
	height:232px;
	margin:30px 0 0 40px;
	position:relative;
	}
.rank-img-static img{
	width:592px;
	height:232px;
}
@font-face {
  font-family:  'myfiles-rank';
  src: url(../font/%E6%96%B9%E6%AD%A3%E7%BB%BC%E8%89%BA%E7%AE%80%E4%BD%93.ttf);
}

.rank-img-static p{
	position:absolute;
	top:182px;
	left:244px;
	width:304px;
	height:28px;
	text-align:center;
	font:16px/28px "myfiles-rank" ;
	color:#fff;
	z-index:4;
	margin:0;
}
.rank-img-static p span{
	font-size:24px;
}

#collect-poster{
	display:none;
}
#collect-books{
	display:none;
}
#collect-video{
	display:none;
}
#collect-evaluating{
	display:none;
}
#collect-manoeuvre{
	display:none;
}
#collect-micro{
	display:none;
}
/*安全设置 手机*/

.amend-inpt-phone{
	width:560px;
	margin-left:46px;
	height:164px;
	background: url(../img/phone-write.png) right center no-repeat;
	position:relative;
}
.write-phone-ri{
	position:absolute;
	top:20px;
	left:458px;
}
.smile-phone{
	position:absolute;
	top:20px;
	left:458px;
}
.verify-phone{
	width:344px;
	height:104px;
	background-color:#d9d9d9;
	margin:10px 0 0 0;
}
.verify-phone p{
	font:12px/18px "宋体";
	color:#3c3c3c;
	padding:12px 6px 0;
}
.verify-phone .btn-default{
	width:130px;
	height:28px;
	color:#91c81e;
	text-align:center;
	padding:0;
	float:right;
	margin:0 40px 8px 0;
}
.amed-inpt-list .inp-sign-check{
	width:74px;
	height:24px;
	padding-left:6px;
}
.amed-inpt-list .phone-note{
	margin-left:78px;
}
.amend-inpt-phone .bound-num{
	height:24px;
	font:14px/24px "微软雅黑";
	color:#3c3c3c;
	margin:0 0 4px 0;
}

#bound_second{
	display:none;
}

#amend_second{
	display:none;
}
#amend_third{
	display:none;
}
#amend_four{
	display:none;
}
#cancel_second{
	display:none;
}
/*我的标签*/
.label-wire-gr{
	height:16px;
	background: url(../img/send-link.jpg) repeat-x;
} 
.first-link-label{
	width:636px;
	margin:30px 0 10px 18px;
	position:relative;
}
.second-link-label{
	width:500px;
	margin:0 0 10px 18px;
	position:relative;
}
.second-link-label .btn{
	position:absolute;
	top:-8px;
	right:-132px;
}
.third-link-label{
	width:666px;
	margin:0 0 10px 18px;
}
.personage-link-label{
	width:666px;
	margin:0 0 10px 12px;
	}
.label-wire-gr p{
	display:block;
	text-align:center;
	font:14px/16px "微软雅黑";
	background-color:#fff;
	width:60px;
	margin-left:16px;
	color:#91c81e;
}
.label-list-star{
	width:620px;
	margin:0 0 50px 34px;
}
.label-list-star img{
	margin:0 14px 6px 0;
}
.label-btn-my{
	width:116px;
	height:30px;
}
.first-link-label a span{
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:1px;
	right:-34px;
	font-size:18px;
	color:#3c3c3c;
}
.first-link-label a span:hover{
	color:#ff5f21;
}
.second-link-label a span{
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:-1px;
	right:-166px;
	font-size:18px;
	color:#3c3c3c;
}

.second-link-label a span:hover{
	color:#ff5f21;
}
.label-get-nav{
	margin-left:36px;
}
.label-get-nav li:first-child a::before{
	content: "| ";
	padding: 0 8px 0 0;
}
.label-get-nav li a::after{
	content: "|";
	padding: 0 0 0 14px;
}
.label-get-nav .active-label{
	color:#91c81e;
}
.label-list-grade{
	width:666px;
	margin:0 0 50px 18px;
}
.label-list-grade .thumbnail{
	width:156px;
	height:76px;
	padding:0;
	float:left;
	margin-left:8px;
}
.label-list-grade .thumbnail .img-label-thum{
	width:154px;
	height:50px;
	vertical-align:middle; 
	display:table-cell;
}
.img-label-thum img{
	display:block;
	margin:auto ;
}

.btn-label-click{
	overflow:hidden;
	width:142px;
	height:20px;
	margin-left:10px;
}
.btn-label-click .btn{
	width:20px;
	height:18px;
	padding:0;
	background-color:transparent;
	
}
.btn-label-click .btn .glyphicon{
	font-size:18px;
	color:#646464;
}

.up-btn-label{
	float:left;
}
.btn-label-click .btn:hover span{
	color:#ff5f21;
}
.up-num-label{
	display:block;
	float:left;
	width:40px;
	height:18px;
	font:12px/18px "宋体";
	margin-left:6px;
	overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    white-space: nowrap;
}
.down-btn-label{
	float:right;
}
.down-num-label{
	display:block;
	float:right;
	width:30px;
	height:18px;
	font:12px/18px "宋体";
	margin:0 3px 0 6px;
	overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    white-space: nowrap;
}
#not-have-label{
	display:none;
}

.modal.label-files{
	height:466px;
}
.label-popup p{
	display: block;
	margin:50px 0 12px 78px;
	overflow:hidden;
	width:82px;
	font:14px "微软雅黑";
	color:#3c3c3c;

}
.label-popup ul{
	width:660px;
	margin-left:52px;
}
.label-popup ul li{
	padding:0;
}
.label-popup ul .tag-label-one{
	width:124px;
}
.label-popup ul .tag-label-two{
	width:146px;
}
.label-popup ul .tag-label-three{
	width:130px;
}
.label-popup ul .tag-label-four{
	width:144px;
}

/*我的微课 弹出层*/
#uploadMicroLessonA .pop-container, #editMicroLessonA .pop-container{
    margin-top: 84px;
}
#uploadMicroLessonB .pop-container, #editMicroLessonB .pop-container{
    margin-top: 64px;
}
.micro-lesson-container{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.micro-lesson-container .col-title{
    display: inline-block;
    width: 140px;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}
.micro-lesson-container .col-input{
    display: inline-block;
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0;
}
.dropdown-box .form-group{
    display: inline-block;
}

.dropdown-box select{
    height: 35px;
    border: 1px solid #c1c1c1;
    padding: 6px;
    font-size: 14px;
}
.dropdown-box .firstLevel{
    width: 110px;
}
.dropdown-box .secondLevel{
    width: 160px;
}

.dropdown-box select option:hover{
    background: #91c31e;
}

.micro-lesson-container .col-textarea{
    display: inline-block;
    width: 520px;
    height: 78px;
    font-size: 12px;
    border-radius: 0;
}
.micro-lesson-container .form-group-texarea{
    display: inline-block;
    height: 80px;
}
.micro-lesson-container .form-group > span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.micro-lesson-container .col-input.col-file{
    position: absolute;
    width: 70px;
    height: 25px;
    left: 190px;
    opacity: 0;
    cursor: pointer;
}

.micro-lesson-container .help-block.help-block-forTextarea{
    top: -28px;
    position: relative;
    float: right;
    width: 250px;
}
.micro-lesson-container .help-block input{
    color: #ff0000;
    padding: 0 5px;
    border: none;
}
.micro-lesson-container .help-block.help-block-forFile{
    position: relative;
    padding-left: 147px;
    text-align: left;
}
.upload-file-container {
    display: inline-block;
}
.upload-file-container > span{
    margin: 0 5px;
}
.upload-file-container .btn-sm, .selectNewFile .btn-sm{
    line-height: 12px;
    border-radius: 0;
}
.edit-file-container .originalFile{
    display: inline-block;
    width: 200px;
    border: 1px solid #b4b4b4;
    padding: 5px 10px;
}
.edit-file-container .originalFile div{
    margin-right: 10px;
}
.selectNewFile {
    position: relative;
    top: 10px;
    left: 177px;
}
.selectNewFile .edit-file{
    position: absolute;
    left: 0;
    display: inline;
    width: 70px;
    height: 25px;
    overflow: hidden;
    opacity: 0;
}
.master-personge-btn{
	width:118px;
	height:30px;
	position:absolute;
	top:65px;
	right:100px;
	line-height:28px
}	
/*我的微课 上传微课 封面简介*/
.micro-lesson-container .file-box{
    display: inline-block;
    margin-top: 20px!important;

}
.micro-lesson-container .file-box form{
    height: 140px!important;
}
.pop-container .micro-lesson-container .file-box .upload-file .file{
    position: relative;
    left: 0;
    top: -30px;
    cursor: pointer;
}
.pop-container .micro-lesson-container .file-box .upload-file{
    display: inline-block;
    position: relative;
    top: -50px;
    left: 250px;
}
.file-box .help-block{
    display: inline-block;
    width: 300px;
    margin-left: 40px;
    position: relative;
    top: -15px;
}
#uploadMicroLessonA .divider-hr, #editMicroLessonA .divider-hr{
    margin-top: 5px;
}
/*我的微课 上传微课 资源列表*/
.detailLessonTab{
    position: relative;
    width: 620px;
    height: 260px;
    padding: 15px;
    margin-left: 60px;
    border: 1px solid #c1c1c1;
}

.master-personge-btn{
	width:118px;
	height:30px;
	position:absolute;
	top:65px;
	right:100px;
	line-height:28px;
}

.detailLessonTab .sourceTitle {
    border-bottom: 1px solid #646464;
}
.detailLessonTab .sources {
    border-bottom: 1px dotted #646464;
}
.detailLessonTab .activity-pagin .pagination {
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: 0;
}
.detailLessonTab .activity-pagin .pagination > li > a, .detailLessonTab .activity-pagin .pagination > li > span{
    color: #3C3C3C;
}
/* CSS Document */

