
/*竞技场*/
.timer-shaft{
    float:left;
	width:550px;
	height:34px;
	}
.incident-time{
	width:656px;
	height:auto;	
	padding:0;
	margin:14px auto 0;
}

.incident-time li{
	padding: 0px;
	overflow:hidden;
	margin-bottom:48px;
	background-color:#f5f5f5;
	
}
	
.incident-time img{
	width:422px;
	height:206px;
	float:left;
}
.incident-text{
	width:234px;
	height:206px;
	float:left;
	padding:10px;
	line-height:18px;
	border-top:1px solid #a0a0a0;
	border-right:1px solid #a0a0a0;
	border-bottom:1px solid #a0a0a0;
	
}
.incident-text:hover{
	border-top:2px solid #91c81e;
	border-right:2px solid #91c81e;
	border-bottom:2px solid #91c81e;
	padding:9px 9px 9px 10px;
}
.incident-text h3 a{
	font:14px "微软雅黑";
	margin:0;
	line-height:24px;
	color:#3c3c3c;
}

.incident-pre{
	overflow:hidden;
	line-height:20px;
	margin:0;
}
.incident-pre .incident-name{
	display:block;
	width:136px;
	float:left;
	white-space:nowrap; 
}

.incident-pre .incident-date{
	display:block;
	width:66px;
	float:right;
	white-space:nowrap;
	text-align:right;
}
.incident-exp{
	height:106px;
}
.icon-incident{
	float:right;
}
.icon-incident a{
	color:#969696;
}

.icon-incident a:hover{
	color:#91c31e;
}
/*校长寄语*/
.master-per{
	width:580px;
	margin:34px 0 0 54px;	
}
.master-text{
	width:580px;
	border-left:2px solid #aeaeae;
	border-right:2px solid #aeaeae;
	border-bottom:2px solid #aeaeae;
	margin-top:-20px;
	padding:30px 0 80px 0;
}
.master-text:hover{
	border-left:2px solid #91c21e;
	border-right:2px solid #91c21e;
	border-bottom:2px solid #91c21e;
}
.bottom-line{
	border-bottom:1px solid #d9d9d9;
}
.bottom-line:hover{
	border-bottom:1px solid #91c21e;	
}
.master-text li{
	width:510px;
	height:22px;
	line-height:22px;
	border-bottom:1px solid #d9d9d9;
	vertical-align:bottom;
	margin:0 0 24px 32px;
}

.master-text .master-title{
	width:378px;
	text-align:center;
	margin-left:100px;
	margin-top:30px;
	line-height:26px;
	height:26px;
	
}

.master-text a{
	display:block;
	margin-top:46px;
	float:right;
}
.details-w{
	float:right;
	width:19px;
	height:19px;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	padding-top:8px;
	margin-right:6px;
	margin-top:4px;
}

.details-n{
	width:8px;
	height:8px;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	margin:0px 0 0 8px;
}
.master-text a:hover .details-w{
	border-right:1px solid #91c21e;
	border-bottom:1px solid #91c21e;
}
.master-text a:hover .details-n{
	border-right:1px solid #91c21e;
	border-bottom:1px solid #91c21e;
}
.send-link{
	
	height:16px;
	background:url(../img/hp_share/send-link.jpg) repeat-x;	
	
}
.send-befo{
	width:580px;
	margin:44px 0 10px 54px;
	}
.send-link p{
	background-color:#fff;
	width:66px;
	height:16px;
	font:14px/16px "微软雅黑";
	color:#91c81e;
	text-align:center;
	margin-left:12px;
	}
.review-word{
	padding:0;
	width:550px;
	margin-left:68px;
	}
	
.review-word li{
	height:22px;
	line-height:22px;
	margin-bottom:11px;
}

.review-word li .review-title{
	float:left;
	width:162px;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
}

.review-word li .review-date{
	float:right;
}
.review-date .glyphicon{
	font-size:10px;
}
/*组织架构*/
.organize-form{
	width:656px;
	height:318px;
	border:1px solid #9c9c9c;
	margin:20px 0 40px 16px;
}
.organize-head{
	overflow:hidden;
	width:654px;
	height:26px;
	font:12px/26px "宋体";
	background-color:#c7e48d;
	vertical-align:middle;
}
.organize-head p{
	float:left;
	margin: 0 7px 0 370px;
	line-height:30px;
}
.organize-head .form-control{
	border-radius:0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
	border:1px solid #9c9c9c;
	}
.organize-head select{
	float:left;
	width:64px;
	height:20px;
	padding:0;
	text-align:center;
	margin-top:4px;
	font:12px/20px "宋体";
}
.opt-line{
	border-bottom:1px solid #9c9c9c;
	
}
.organize-head input{
	float:right;
	width:138px;
	height:18px;
	line-height:18px;
	padding:0;
	text-align:center;
	margin:4px 12px 0 0;
	font:12px "宋体";
}
.list-orgainze{
	width:656px;
	height:300px;
	overflow:hidden;
	margin:0;
}

.list-orgainze .organize-left{
	width:218px;
	float:left;
	padding:0;
	border-right:1px solid #bbbaba;
	margin:0;
}

.list-orgainze .organize-right{
	width:218px;
	float:left;
	padding:0;
	margin:0;
}
.organize-left a,
.organize-right a{
	color:#3b3b3b;
}
.list-orgainze ul li{	
	line-height:24px;
	height:24px;
	padding-left:16px;
}

.list-orgainze ul li:hover{
	background-color:#e2f2c6;
	font-weight:bold;
	
}
.list-orgainze ul li:hover a{
	color:inherit;
}

/*快乐演习*/
.gratitude-tr{
	width:690px;
	height:434px;
	background:url(../img/hp_share/thankyou.png) no-repeat;
	margin:8px 0 20px 0;
	font:14px/24px "微软雅黑";
	color:#3c3c3c;
	
}
.thank-te{
	width:672px;
	margin:24px 0 0 10px;
}
.order-mes{
	display:block;
	margin:0 0 0 40px;
	padding-top:10px;
	
}

.text-grati{
	margin:102px 20px 0 0;
	float:right;
	text-align:right;	
}
.kindheart-mes{
	width:690px;
	height:434px;
	background: url(../img/hp_share/loveheart.png) no-repeat;
	margin:8px 0 150px;
	font:14px/24px "微软雅黑";
	color:#fff;
	position:relative;
}
.text-kindheart{
	margin:20px 0 0 36px;
	
}
.tip-trans{
	position:absolute;
	top:170px;
	left:420px;
	width:100px;
	height:100px;
}



.tree-point{
	float:left;
	position: relative;
}
.tree-point img{
	position: absolute;
	top:45px;
	left:18px;
}
.tree-point{position: absolute;}

.gratitude-1{ position: absolute; width:65px;height:65px;left: 40px;top: 162px; z-index:4; }
.gratitude-2{position: absolute; width:65px;height:65px;left: 136px;top: 42px; z-index:4; }
.gratitude-3{ position: absolute;width:50px;height:50px;left: 96px;top: 125px; z-index:4; }
.gratitude-4{position: absolute; width:45px;height:45px;left: 146px;top: 160px; z-index:4;}
.gratitude-5{position: absolute; width:45px;height:45px;left: 220px;top: 135px;z-index:4;}
.gratitude-6{position: absolute; width:60px;height:60px;left: 286px;top: 80px;z-index:4; }
.gratitude-7{position: absolute; width:50px;height:45px;left: 282px;top: 146px;z-index:4;}
.gratitude-8{position: absolute; width:50px;height:45px;left: 252px;top: 227px;z-index:4;}
.gratitude-9{position: absolute; width:45px;height:50px;left: 116px;top: 250px;z-index:4;}

/*校园风采*/



#ycontainer{
	
	position:relative;
	width:60%;
	margin:0;
	padding:0 0 0 10px;
	
}

.grid{
	width:210px;
	min-height:141px;
	padding: 0px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}
.grid:hover{
	box-shadow: 0px 3px 15px rgba(80,160,0,1);
	-moz-box-shadow: 0px 3px 15px rgba(80,160,0,1);
	-webkit-box-shadow: 0px 3px 15px rgba(80,160,0,1);
}
.mien-icon{
	width:100%;
	display: block;
	height:34px;
	background-color:#f5f5f5;
	overflow:hidden;
	padding:0 6px;
}

.detai-mien{
	float:left;
	width:55px;
	height:20px;
	font:12px/20px "宋体";
	color:#969696;
	padding:0;	
	border-radius:2px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	margin:6px 6px 0 0;
}
.no-mien{
	background: url(../img/hp_share/mien-btn.jpg) repeat-x;
	border:1px solid #c8c8c8;
}
.mien-icon a{
	color:#969696;
}
.yet-mien{
	background: url(../img/hp_share/mien-btn-gr.jpg) repeat-x;
	border:1px solid #91c81e;
}
.detai-mien:hover{
	color:#91c81e;
}

.grid .mien-title {
	border-bottom:1px solid #ccc;
	display:block;
	overflow:hidden;
	padding:6px 6px 0;
	
}
.mien-title .mien-name{
	display:block;
	float:left;
	width:110px;
	height:26px;
	font:14px/26px "微软雅黑";
	color:#3c3c3c;
	
}
.mien-title .mien-date{
	display:block;
	float:right;
	width:64px;
	height:26px;
	text-align:right;
	font:12px/30px "宋体";
	color:#505050;
}
.mien-describe{	
	font:12px/18px "宋体";
	color:#505050;
	padding:4px 6px 0;
	
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	max-width:100%;
	background:#ccc;
	display:block;
	margin:0 auto;
}

/*头部*/


.space-inline{
	width:689px;
	height:34px;
	padding:0 0 0 16px;
	margin:20px auto 0;
	background: url(../img/hp_share/green_line.png) no-repeat bottom;
}
.space-inline li{
	width:90px;
	height:30px;
	background-color:#fafafa;	
	font:16px/30px "微软雅黑";
	padding-left:12px;	
}
.space-inline li:hover{
	background-color:#91c81e;
	}
.space-inline li:hover a{
	color:#fff;
	}
.space-inline li a{
	color:#3d3a3a;
	}
.space-inline .active-click{
	background-color:#91c81e;
	
}
.space-inline .active-click a{
	color:#fff;
}
.space-bt{
	display: inline-block;
	position:absolute;
	left:41px;
	top:30px;
	width:10px;
	height:6px;
	background:url(../img/hp_share/sp-btn.png) no-repeat;
}

.sp-brands{
	width:690px;
	overflow:hidden;
}
.sp-brands a{
	float:left;
}
.brands-sle{
	float:right;
	width:108px;
	height:25px;
	padding:0;
	text-align:center;
	font:12px/25px "微软雅黑";
}
.set-opt{
	display:none;
}
.sp-collective{
	width:656px;
	overflow:hidden;
	margin:0 12px 0 22px;
	position:relative;
}
.sp-collective img{
	display:block;
	width:82px;
	height:82px;
	/*border-radius:50%;
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;*/
	float:left;
	margin-top:10px;
}
.vip-collect{
	display:block;
	width:20px;
	height:24px;
	background: url(../img/hp_share/vip.png) no-repeat;
	position:absolute;
	top:0;
	left:76px;
}
.collective-text{
	float:left;
	width:556px;
	margin:0 0 0 14px;
	padding-top:6px;
	font:14px/34px "微软雅黑";
	color:#3c3c3c;	
}
.collective-text .mid-colec{
	vertical-align:middle;
}

/*.gre-collec{
	color:#91c81e;
}*/
/*.remd-collec{
	width:140px;
	height:24px;
	border: 1px solid #c8c8c8;
	border-radius:4px;
	text-align:center;
	font:14px/24px "微软雅黑";
	color:#505050;
	margin-left:70px;
}*/
.collte-info{
	overflow:hidden;
	width:556px;
	margin: 12px 0 0 0;
	}
.collective-text .collte-info .btn-default{
	width:108px;
	height:25px;
	font:15px/22px "微软雅黑";
	float:right;
}
.collte-info .colle-title{
	float:left;
	width:430px;
	overflow:hidden;
	font:16px/24px "微软雅黑";
	color:#505050;	
}
.collective-text ul li{
	width:110px;
	
}
.film-p{
	display:inline-block;
	width:21px;
	height:16px;
	background:url(../img/hp_share/film-g.jpg) no-repeat;
}
.collective-text ul li:hover .film-p{
	background:url(../img/hp_share/film-p.jpg) no-repeat;
}
.collective-text ul li:hover{
	color:#91c81e;
}
.vip-coll{
	display:inline-block;
	width:110px;
	height:30px;
	border:3px solid #ff6c00;
	font: bold 12px/24px "微软雅黑";
	color:#ff6c00;
	text-align:center;
	vertical-align:middle;
}
.collective-text .btn-default{
	height:25px;
	font:14px "微软雅黑";
	color:#505050;
	padding-top:0;
}

.new-folder{
	width:108px;
	height:26px;
	font:16px/24px "微软雅黑";
	color:#fff;
	background-color:#91c81e;
	padding:0;
	float:right;
	margin:0;
}
.new-folder:hover{
	color:#fff;
}
.new-folder a{
    width:108px;
    height:26px;
    padding: 0;
}
.new-folder a:hover{
	color:#fff;
}

.sp-back{
	display:block;
	font:14px/30px "微软雅黑";
	margin-left:10px;
}
.left_content_body .sp-back {
	color:#505050;
	 }
.organize-nav{	
	margin:20px 0 0 0;
	

}
.organ-bot ul{
	margin:0;
}
.organize-nav ul{
	margin:0;
}
.organize-nav ul li:first-child a::before {
	content: "| ";
}

.organize-nav ul li a::after {
	content: "|";
	padding: 0 0 0 8px;
}
.organize-nav li.active a {
	color: #91c31e;
}
.organ-bot li.active a {
	color: #91c31e;
}
.branch-fl{
	padding-left:12px;
	overflow:hidden;
	margin:20px 14px 0px 0;
}

.branch-fl a{
	color:#3c3c3c;
}
.branch-fl a:hover, .branch-fl a:focus{
    color: #50a000;
}
.organ-fl{
	float:right;
	margin-right:16px;
}
.organ-fl ul{
}
.organ-fl ul li{
	display:inline-block;
	text-align:center;
	padding:0;

	text-align:center;}
	
.organ-fl li a{
	text-align:center;
	margin:0;
	padding:0;
}
.query-nav-wid{
	width:665px;
	padding-left:14px;
}
.query-nav{
	margin:6px 0 38px 0px;
	overflow: hidden;
}
.query-nav a{
	color:#3c3c3c;
}
.query-org{
	width:104px;
	height:28px;
	background-color:#90c31f;
	font:14px/28px "微软雅黑";
	color:#fff;
	text-align:center;
	margin:20px 0 0 12px;
}
.query-nav .hd{
	border-bottom:1px solid #424242;
	font:12px/24px "宋体";
	color:#3c3c3c;
	position: relative;
}
.query-nav .bd{
	font:12px/24px "宋体";
	color:#3c3c3c;
	position:absolute;
}


.query-nav .hd ul li {
    cursor: pointer;
    color: #414141;

}

.query-nav .hd ul li.on {
    color: #529d04;
	border-bottom:2px solid #529d04;
}

.mag-collect{
	margin-bottom:40px;
}

.le-edit{
	width:690px;
	margin-left:14px;
	}
.le-edit .thumbnail{
	padding:0;
	width:212px;
}	
.le-edit .hall-img{
	display:block;
	margin:0 auto;
}

.le-edit .hall-img img{
	width:210px;
	height:285px;
}
.school-space{
	padding:0;}
.space-top{
	margin-top:40px;
}

.teach-edit{
	width:690px;
	margin-left:14px;
	}
.teach-edit .thumbnail{
	padding:0;
	width:210px;
	height:216px;
}	
.teach-edit .thumbnail:hover{
	border:1px solid #9bc935;
}
.teach-edit .teacher-view{
	display:block;
	margin:0 auto;
}
.teach-edit .teacher-view img{
	width:210px;
	height:149px;
}
.hall-org{
	float:left;
	height:24px;
	line-height:24px;
}
.hall-height{
	margin-top:16px;
}
.min-match-h{
	min-height:1000px;

}
.text-right{
	height:18px;
	overflow:hidden;
}
.text-right span{
	display:block;
	float:left;
	line-height:18px;
}
.text-right .btn{
	background-color:transparent;
	width:18px;
	height:18px;
	padding:0;
}
#advertise-y{
	display:none;
}
.view-centre {
	width:210px;
	height:64px;
}
.view-centre h4{
	width:208px;
	height:32px;
	font:12px/32px "微软雅黑";
	color:#3c3c3c;
	margin:0;
    padding-left:14px;
	background-color:#f5f5f5;
	}

.hid-icon{
	width:208px;
	height:32px;
	color:#3c3c3c;
	margin:0;
    padding: 0 14px;
	overflow:hidden;
}

.hid-icon p{
	width:106px;
	height:32px;
	overflow:hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font:12px/32px "宋体";
	float:left;
	margin:0;
}
.hid-btn{
	width:74px;
	height:24px;
	padding:0;
	float:right;
	margin-top:4px;
}
.name-collec{
	margin:0;
	font:14px/16px "微软雅黑";
	color:#505050;
}
.class-space-list{
	width:656px;
	margin:16px  auto 160px;
}
.cls-spa-bottom{
	border-top:1px solid #c9c9c9;
}
.class-space-list .li-space-list{
	height:84px;
	border-bottom:1px solid #c9c9c9;
	margin-top:10px;
	}
.class-space-list .li-space-list .space-list-img{
	float:left;
	width:56px;
	height:56px;
	border-radius:4px; /*圆角*/
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	margin-right:10px;
	}
.class-space-list .info-class-space{
	float:left;
	text-align:left;
	font:12px "宋体";
	}
.class-space-list .person-class-text span::before{
	content: "|";
	padding: 0 16px 0 0;
	}
.class-space-list .person-class-text span{
	margin-right:14px;
}
.info-class-space .person-class-text{
	width:420px;
	text-align:left;
	line-height:20px;
	height:20px;
	}

.person-class-text .blod-person{
	display:inline-block;
	width:100px;
	}
.info-class-space .grade-class-text{
	width:160px;
	text-align:left;
	height:36px;
	line-height:36px;
}
.info-class-space .grade-class-text img{
	width:46px;
	height:30px;
	margin-left:16px;
}
.info-class-space .date-class-text{
	width:100px;
	text-align:left;
	height:16px;
	line-height:16px;
}
.btn-class-space{
	float:right;
	width:92px;
	}
.btn-class-space .agree-class-space{
	margin-bottom:6px;
}
.blod-person{
	font-weight:bold;
}
.agree-class-space {
    width: 92px;
    height: 30px;
    background-color: #b4b4b4;
    text-align: center;
	font:16px/30px "微软雅黑";
	color:#fff;
	padding:0;

    box-shadow: -1px 2px 0 #646464;
    -moz-box-shadow: -1px 2px 0 #646464;
    -webkit-box-shadow: -1px 2px 0 #646464;
}


.agree-class-space:hover {
    background-color: #91c81e;
	color:#fff;
    box-shadow: -1px 2px 0 #50a000;
    -moz-box-shadow: -1px 2px 0 #50a000;
    -webkit-box-shadow: -1px 2px 0 #50a000;
}
.agree-class-space:active {
	color: #498c03;
	box-shadow: 1px 1px 0 #50a000;
    -moz-box-shadow: 1px 1px 0 #50a000;
    -webkit-box-shadow: 1px 1px 0 #50a000;
}

.agree-class-space:active::before {
	top: -2px;
}
.member-head{
	width:72px;
	height:72px;
	float:left;
	margin:0 18px 0 10px;
}
.member-space-list{
	float:left;
}
.member-space-list li{
	width:360px;
	height:26px;
	line-height:26px;
	overflow:hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.detail-space-list{
	margin-left:14px;
	font:12px "宋体";
	}
.marg-space{
	margin-left:0;
}
.top-gradation{
	width:644px;
	overflow:hidden;
	margin:14px 12px 12px 30px;
	font:12px "宋体";
	color:#3c3c3c;
}
.top-gradation .active-sp{
	display:inline-block;
	
	border-bottom:1px solid #5aa000;
}
.top-gradation .active-sp a{
	color:#91c81e;
	}
.top-gradation .top-grad-list{
	float:left;
	margin:0;
}
.top-grad-list li{
	padding:0 0 0 4px;
}
.top-grad-list li:last-child a::after {
	content: "";
}

.top-grad-list li a::after {
	content: "> ";
	padding: 0 0 0 4px;
}

#apply-space{
	display:none;}

.send-word-container {
    height: 200px;
}
.pop-container .form-container .send-word {
    height: 166px;
}
/*校长寄语预览*/
.preview-container {
    margin: 20px auto 40px;
    width: 580px;
    height: 650px;
}
.preview-container .send-word .caption{
    width: 380px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
}
.preview-container .send-word .content {
    margin: 10px auto 30px auto;
    width: 520px;
    line-height: 35px;
    overflow: visible;
    text-align: justify;
    text-indent: 2em;
    font-size: 14px;
}
.preview-container .send-word .divider-hr{
    width: 520px;
    height: 1px;
    padding: 0;
    margin: 0;
    background-color: #b4b4b4;
}
.preview-container .send-word{
    margin-top: -2px ;
    border: 2px solid #b4b4b4;
}

.preview-container .help-block{
    text-align: right;
}
/*校园风采新建活动*/
.pop-activity {
    margin-top: 50px;
}
.pop-activity .form-group{
    margin-left: 150px;
    width: 500px;
    height: 25px;
}
.pop-activity .form-group > span{
    text-align: right;
}
.pop-activity .form-group .label {
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    white-space: normal;
}
.pop-activity .form-group .selected{
    padding: 0 0 0 10px ;
    background-color: #91c31e;
    box-shadow: 1px 2px 0 #50a000;
}

.pop-activity .form-group .disabled{
    padding: 0;
    background-color: #b4b4b4;
    -webkit-box-shadow: 1px 2px 0 #646464;
    -moz-box-shadow: 1px 2px 0 #646464;
    box-shadow: 1px 2px 0 #646464;
}
.pop-activity .form-group .label .close{
    display: inline-block;
    position: relative;
    font-size: 16px;
}
.pop-activity .form-group .label-style{
    width: 115px;
    height: 23px;
}
.pop-activity .label-container{
    position: relative;
    width: 500px;
    height: 30px;
    margin-bottom: 66px;
}
/*校园风采新建秀场*/
.newshow-container {
    margin-bottom: 80px;
}
.newshow-container .match-caption, .match-introduction{
    width: 70px!important;
}
.signup-date-group {
    margin-top: 90px;
}
.signup-date,.vote-date {
    width: 115px;
    line-height: 30px;
}
/*校园风采新建活动*/
.form-container .form_datetime .input-group input{
    display: inline-block;
    width: 140px;
    height: 25px !important;
    border-radius: 4px;
}
.form-container .form_datetime .input-group-addon{
    display: inline-block;
    padding: 5px;
    width: 30px;
    border: none;
    background-color: #fff;
}
.form_datetime img{
    position: relative;
    left: -15px;
    top: -7px;
}
.start-date{
    display: inline-block;
    float: left;
}
.start-date .input-group input, .end-date .input-group input{
    padding: 6px;
    width: 90px!important;
    font-size: 12px;
}
.end-date {
    display: inline-block;
    float: left;
    padding-left: 10px;
}

/*编辑秀场 第二页*/
.pop-show-container{
    padding: 40px 0;
    margin-left: -35px;
}
.pop-show-container .form-group span{
    font-size: 14px;
    font-weight: bold;
}
.pop-show-container .form-group label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
/*校际比赛*/
.interschool-container {
    display: none;
    position: relative;
    margin-left: 160px;
    margin-bottom: 15px;
    width: 530px;
    height: 275px;
    background-color: #e9f4d2;
}
.interschool-container .target-school{
    position: relative;
    width: 100%;
    height: 30%;
    padding: 10px 20px;
}
.interschool-container .target-school .school{
    position: relative;
    display: block;
    float: left;
    margin: 1px;
    padding-left: 5px;
    width: 118px;
    height: 22px;
    line-height: 22px;
    text-align: left;
}
.interschool-container .target-school .default{
    background-color: #fff;
}
.interschool-container .target-school .selected{
    background-color: #91c31e;
}
.target-school .close{
    padding-right: 5px;
    color: #fff;
    font-size: 16px;
}
.all-school {
    position: relative;
    width: 510px;
    height: 190px;
    text-align: left;
}
.all-school .choose-school{
    margin: -10px auto 0 20px;
    display: block;
    width: 120px;
    height: 30px;
}
.all-school-btn ul{
    display: block;
    margin: -2px 10px 0 10px;
    padding-left: 30px;
    width: 510px;
    height: 165px;
    background-color: #fff;
    border: 1px solid #b4b4b4;
    overflow: auto;
}
.all-school-btn ul li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding: 0;
    width: 110px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}
/*编辑秀场*/
.icon-incident .btn{
    border: 0!important;
}
	
/*我的档案-我的印记*/
.pesonl-collect{
	display:block;
	width:76px;
	height:76px;
	border-radius:4px;
	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
	float:left;
	margin-top:10px;
	border:1px solid #505050;
}
.personl-collec{
	margin: 0;
	font:14px/22px "微软雅黑";
	color:#3c3c3c;
}
.personl-collec-s{
	font:12px/22px "宋体";
	color:#3c3c3c;
	margin:0;
}

.colle-title-s{
	width:430px;
	overflow:hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font:16px/24px "微软雅黑";
	color:#3c3c3c;	
	margin: 18px 0 0 0;
}
.join-stamp{
	width:690px;
	margin:0 0 0 18px;
}
.join-stamp li{
	width:210px;
	height:140px;
	border:1px solid #a0a0a0;
	padding:0;
	margin: 0 8px 0 0;
}
.join-stamp p{
	width:208px;
	text-align:center;
	height:26px;
	font:14px/26px "微软雅黑";
	background-color:#c8e38e;
	margin:0;
}
.join-stamp a{
	display:block;
	width:210px;
	overflow:hidden;
	
}
.join-stamp a img{
	display:block;
	float:left;
	width:104px;
	height:104px;
	margin:4px 0 0 4px
	
}
@font-face {
  font-family: 'myfiles-stamp';
  src: url(../font/%E6%97%B6%E5%B0%9A%E4%B8%AD%E9%BB%91%E7%AE%80%E4%BD%93.ttf);
}
.join-stamp a span{
	display:block;
	float:right;
	width:100px;
	height:112px;
	text-align:center;
	font:48px/112px "myfiles-stamp";
	color:#91c81e;
}
.green-line-mrg{
	margin-top:26px;
}

.match-thumb .thumbnail .remove-check-btn{
	width:18px;
	height:18px;
	position:absolute;
	top:2px;
	right:2px;
	float:inherit;
	padding:0;
	
}
.remove-check-btn span{
	font-size:14px;
	vertical-align:top;
}
.remove-preview-btn{
	float:right;
	margin:-24px 6px 0 0;
	width:18px;
	height:18px;
	padding:0;
	background-color:transparent;
}
.remove-preview-btn span{
	font-size:14px;
}
.mar-grid-bott{
	margin-bottom:100px;
}

.list_pagination_match {
    width: 100%;
    text-align: center;
    color: #8e8e8e;
    font-family: "SimSun";
    font-weight: lighter;
}

.list_pagination_match a {
    color: #8e8e8e;
    font-family: "SimSun";
}

.list_pagination_match a:hover {
    color: #000;
}

/* 时间轴 */
.timer-shaft.timer-shaft-beneficentwall{
    margin: 0 auto;
    float: none;
}
.timer-shaft .timeline-box{
    display: inline-block;
    width: 390px;
    height: 34px;
    overflow: hidden;
}
.timer-shaft .timeline-box .timeline{
    padding-top: 2px;
    height: 30px;
    overflow:hidden;
}
/*时间轴 年*/
.timeline li.year a{
    display: inline-block;
    float: left;
    margin: 0 5px;
    font-size: 12px;
}
.timeline > li.year{
    display: inline-block;
    float: left;
    height: 30px;
    background: url("../img/timeline-circle-greenmin.png") no-repeat 15px -2px;
    z-index: 2;
    cursor: pointer;
}
.timeline > li.year:hover,.timeline > li.year:focus, .timeline > li.year.active {
    font-weight: bold;
    background: url("../img/timeline-circle-greenmax.png") no-repeat 13px -2px;
}
/*时间轴 月*/
.timeline li ul {
    overflow: hidden;
}
.timeline li ul.month {
    display: none;
    margin-left: 40px;
   /* padding: 0;
    width: 310px;*/
    height: 30px;
    overflow: visible;
    background: url("../img/lightgreen-bg.png") repeat-x;
}
.timeline li ul.month li {
    display: inline-block;
    position: relative;
    float: left;
    height: 30px;
    margin: 0 4px;
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    z-index: 2;
}
.timeline li ul.month li:hover, .timeline li ul.month li.active{
    font-weight: bold;
    color: #ff781e;
    background: url("../img/timeline-circle-orangemin.png") no-repeat 3px -2px;
}
.timer-shaft .timeline-box .divider-line{
    position: absolute;
    margin-top: -6px;
    width: 380px;
    border-top: 2px solid #91c31e;
    z-index: 1;
}

.timer-shaft .calendar-box {
    display: inline-block;
    width: 150px;
    height: 34px;
}
.timer-shaft .calendar-box .input-group{
    height: 30px;
    width: 150px;
}
.timer-shaft .calendar-box .input-group .form-control{
    border-radius: 4px;
    height: 30px;
    width: 110px;
}
.timer-shaft .calendar-box .input-group-addon{
    display: inline-block;
    width: 38px;
    border: none;
    background-color: #fff;
}
.timer-shaft .calendar-box .input-group-addon > span > img{
    position: relative;
    left: -20px;
    top: -5px;
}