@charset "utf-8";
/* CSS Document */
.marg-person-clear{
	height:18px;
}
.search-article-content{
	width:1010px;
	min-height:1300px;
	margin:0 auto 30px;
	background-color:#fff;
	border:1px solid #e2e4d5;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.search-box-person{
	width:770px;
	overflow:hidden;
	margin:30px 0 18px 12px;
}
.search-box-person .form-control{
	width:658px;
	height:30px;
	float:left;
	border-radius:0;
	box-shadow: none;
	font:14px/30px "宋体";
}
.search-box-person .btn{
	width:108px;
	height:30px;
	float:right;
	background-color:#d7f0aa;
	padding:0;
	text-align:center;
	font:16px/28px "微软雅黑";
	color:#3c3c3c;
	border-radius:0;
}
.nine-nav-person{
	width:1008px;
	height:31px;
	border-bottom:1px solid #919191;
	padding: 0 8px 0 7px;
	overflow:hidden;
}
.nine-nav-person li{
	float:left;
	width:107px;
	height:30px;
	text-align:center;
	font:16px/30px "微软雅黑";
	color:#3c3c3c;
	padding:0;
	background-color:#d9d9d9;
	margin:0 0 0 3px;

}
.nine-nav-person .active-person-click{
	background-color:#91c81e;
}
.nine-nav-person .active-person-click a{
	color:#fff;
}
.result-search-person{
	display:block;
	margin:22px 70px;
	font:12px "宋体";
	color:#b4b4b4;
	}
.introduce-search-result{
	width:630px;
	margin-left:70px;
}
.introduce-search-result li{
	margin-top:10px;
}
.introduce-search-result .title-search-article{
	height:18px;
	width:630px;
	color:#372efd;
	font:14px/22px "宋体";
	text-decoration:underline;
}
.red-person-lable{
	color:#fd0202;
}
.text-introduce-search{
	width:630px;
	font:12px/20px "宋体";
	color:#3c3c3c;
}
.adress-introduce-inter span{
	color:#327800;
	font:12px/20px "宋体";
}
.adress-introduce-inter a{
	color:#b4b4b4;
}
.search-box-picture{
	
}
.container-pictur{
	width:870px;
	margin:0 0 0 70px;
	padding:0; 
	list-style:none;
}
.container-pictur:before,
.container-pictur:after {
	 content: ""; 
	 display: table; 
}
.container-pictur:after { 
	clear: both;
}
.item-picture-s { 
	float: left;
	position:relative;
	overflow:hidden;
}
.item-picture-s a{
	display:block;
}
.item-picture-s img { 
	max-width: 100%; 
	max-height: 100%;
	height:140px;  
	vertical-align: bottom;   
}
.first-item-picture-s { 
	clear: both;
}
.last-row-picture, 
.last-row-picture ~ 
.item-picture-s { 
	margin-bottom: 0;
}
.item-picture-s:hover{
	
}
.item-picture-s p{
	display:none;
	width:100%;
	height:30px;
	padding-left:5%;
	margin:0;
	overflow: hidden; 
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	position:absolute;
	bottom:-4px;
	left:0;
	}
.item-picture-s:hover p{
	display:block;
	z-index:5;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0,rgba(0, 0, 0, 0)),color-stop(1,rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
	font:12px/26px "宋体";
	opacity:0.6;
}

.more-search-clik{
	text-align:center;
	width:870px;
	height:84px;
	background-color:#f1efef;
	margin-left:70px;
	padding-top:22px;
}
.more-search-clik .btn{
	width:374px;
	height:38px;
	background-color:#dedddd;
	text-align:center;
	padding:0;
	font:16px "微软雅黑";
	color:#3c3c3c;
	border-radius:0;
}

.photo-thum-search{
	margin-left:56px;
}
.photo-thum-search .thumbnail{
	width:212px;
	padding:0;
	border-radius:0;
	float: left;
	margin:0 0 20px 10px;
	border:none;
	position:relative;
	
}
.mano-test-list.marg-test-eval{
	margin-left:70px;
	width:870px;
}
.mano-test-list.marg-test-eval li{
	width:870px;
}
.mano-test-list.marg-test-eval li button{
	margin-right:20px;
}
.search-manoeuvre-box{
	width:710px;
	margin-left:70px;
}
.search-manoeuvre-box li{
	overflow:hidden;
	margin-bottom:20px;
}
.search-manoeuvre-box li img{
	display:block;
	float:left;
	width:366px;
	height:188px;
}
.search-manoeuvre-box li .text-search-manoeuvre{
	float:right;
	width:326px;
	padding-top:4px;
	height:188px;
}
.text-search-manoeuvre a{
	font:16px/24px "微软雅黑";
}
.text-search-manoeuvre p{
	width:326px;
	font:12px/20px "宋体";
	color:#3c3c3c;
}

.text-search-manoeuvre .active-mano-search {
	color:#003bfc;
	text-decoration:underline;
} 
.sorry-search-remd{
	width:672px;
	height:150px;
	background-color:#eeeeee;
	padding:44px 0 0 118px;
	margin:168px auto;
	color:#3c3c3c;
}
.sorry-search-remd img{
	width:56px;
	height:50px;
}
.sorry-search-remd span{
	font:16px "微软雅黑";
	
}
.search-fix-position{
	display:block;
	position:relative;
}
.search-fix-position p{
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	font:12px/28px "宋体";
	color:#fff;
	width:100%;
	height:28px;
	padding:0 4%;
	overflow:hidden;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0,rgba(0, 0, 0, 0)),color-stop(1,rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
	opacity:0.6;
	z-index:600;
}
.search-fix-position:hover p{
	display:block;
}
.search-fix-position p span{
	display:block;
}
.left-name-search{
	float:left;
}
.right-time-search{
	float:right;
}
