@charset "utf-8";
a {
    color: #3c3c3c;
}
.main_container {
    background: #f5f5f5;
}
.btn {
    border-radius: 4px
}
.btn-primary,.btn-primary:focus {
    background-color: #288ce6;
    border-color: #197fdb
}
.btn-primary:hover {
    background-color: #1772c4;
    border-color: #135fa4
}
.find-pwd .input-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 96px;
    top: 0px
}
.find-pwd-img {
    background: url(../img/login-register/find_pwd_img.png) no-repeat top left
}
.find_pwd_bj {
    background-position: 5px 10px
}
.find_pwd_mail_01 {
    background-position: center -69px;
    width: 28px;
    height: 20px
}
.find_pwd_mail_02 {
    background-position: center -139px;
    width: 28px;
    height: 20px
}
.find_pwd_mail_03 {
    background-position: center -209px;
    width: 28px;
    height: 20px
}
.find_pwd_mobile_01 {
    background-position: center -279px;
    width: 16px;
    height: 24px
}
.find_pwd_mobile_02 {
    background-position: center -353px;
    width: 16px;
    height: 24px
}
.find_pwd_mobile_03 {
    background-position: center -427px;
    width: 16px;
    height: 24px
}
.find_pwd_success {
    background-position: 0 -501px;
    width: 35px;
    height: 35px
}
.find_pwd_user_bj {
    background-position: 5px -577px
}
.find_pwd_user_bj.input-icon {
    left: 72px
}
.special-bj {
    background-color: #ff8219 !important;
}
.bw-bj {
    background-image: url(../img/login-register/find_pwd_nav_01.png);
    background-position: right center;
    background-repeat: no-repeat
}
.white-bj {
    background-image: url(../img/login-register/find_pwd_nav_02.png);
    background-position: right center;
    background-repeat: no-repeat
}
.finish-bj {
    background-image: url(../img/login-register/find_pwd_nav_03.png);
    background-position: right center;
    background-repeat: no-repeat
}
.pass-bj {
    background-image: url(../img/login-register/find_pwd_nav_02.png);
    background-position: right center;
    background-repeat: no-repeat
}
.finish {
    background-color: #f0a176 !important;
    color: #fff
}
.top {
    height: 72px;
    border-bottom: 1px solid #e6e6e6
}
.container {
    width: 886px !important;
    margin: 0 auto;
    padding-top: 50px
}
.title {
    width: 100%;
    height: 49px;
    line-height: 49px;
    color: #ff8219;
    font-weight: bold;
    font-size: 16px;
    text-align: center
}
.title .nav-pill li {
    width: 214px;
    background-color: #ffe6be;
    margin: 0;
    padding: 0;
    float: left;
    height: 49px;
    color: #3c3c3c;
}
.title .nav-pill li.last-finish{
    width: 170px;
}
.btn-right {
    float: right;
    width: 80%
}
.find-pwd {
    width: 450px;
    font-size: 14px;
    padding-top: 50px;
    margin: 0 auto
}
.find-pwd .form-group {
    margin-bottom: 30px;
    height: 40px;
    position: relative
}
.find-pwd .form-group-code {
    width: 290px;
    float: left
}
.find-pwd .control-label {
    width: 70px;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-weight: normal
}
.find-pwd .form-control {
    width: 83%;
    border-radius: inherit
}
.find-pwd .input-lg {
    height: 40px;
    padding: 10px 15px 10px 40px;
    font-size: 14px;
    padding-right: 28px
}
.find-pwd .input-sm {
    width: 215px;
    padding: 10px 15px
}
.find-pwd .form-group-pic {
    width: 155px;
    float: right;
    border: 1px solid #d1d5d8;
    height: 40px;
    line-height: 40px
}
.find-pwd .form-group-pic img {
    vertical-align: top;
    padding: 1px
}
.find-pwd .form-group-pic a {
    margin-left: 4px;
    padding-left: 4px;
    border-left: 1px solid #ccc;
	color:#4a4644;
}
.find-pwd .color-lnk {
    color: #ff8219;
    cursor: pointer
}
.find-pwd .btn {
    margin-top: 30px
}
.find-pwd .btn-lg {
    width: 85%;
    float: right
}
.text-center {
    width: 100%;
    text-align: right;
    float: right;
    padding-top: 10px
}
.text-center a {
    border-bottom: 1px solid #d1d5d8
}
.text-center a:hover {
    text-decoration: none
}
.form-group .msg-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    right: 16px;
    background-image: url(../img/login-register/status.png);
    background-repeat: no-repeat
}
.form-group.status-error .msg-icon {
    background-position: left -40px
}
.form-group.status-success .msg-icon {
    background-position: left -20px
}
.form-group .help-block {
    color: #F28500;
    padding-left: 76px
}
.form-group.status-error .help-block .error {
    color: #E03337;
    font-weight: normal
}
.form-group.status-success .help-block {
    display: none
}
.verify-con {
    padding: 50px 68px;
    text-align: center;
    height: 100%;
    float: left;
	
}

.verify {
    float: left;
    margin-bottom: 20px;
	color:#4a4644;
	
}
.verify .content {
    padding: 5px 10px
}
.verify .content h5 {
    text-align: left;
	color:#4a4644;
}
.verify .one p {
    margin: 0;
	color:#4a4644;
}
/*修改链接颜色*/
.verify .text-center .link-blue {
	color:#ff8219;
}
.verify .content .one-img {
    margin: 20px 0 10px 0
}
.verify .mobile.disabled {
    border: 3px solid #dfdfdf;
    border-radius: 6px;
    color: #b3b3b3
}
.verify .mobile.mobile-img .one-img {
    background-position: center -279px
}
.verify .mobile.mail-img .one-img {
    background-position: center -69px
}
.verify .mobile.disabled:hover {
    border: 3px solid #dfdfdf
}
.verify .mobile.mobile-img:hover .one-img {
    background-position: center -279px
}
.verify .mobile.mail-img:hover .one-img {
    background-position: center -69px
}
.verify .mobile {
    width: 324px;
    height: 159px;
    border: 3px solid #bfbfbf;
    border-radius: 6px;
    float: left;
    color: #666666;
    cursor: pointer
}
.verify .mobile .one-img {
    width: 100%;
    height: 24px;
    text-align: center
}
.verify .mobile:hover {
    border: 3px solid #acd1f3;
    border-radius: 6px
}
.verify .mobile:hover .one-img {
    background-position: center -427px
}
.verify .mail:hover .one-img {
    background-position: center -209px
}

.mobile-in {
    height: 100%;
    font-size: 14px;
    color: #666666;
    padding: 40px 300px 40px 210px;
    display: none
}
.mobile-in .link-blue{ color:#ff8219;}

.mobile-in h4 {
    font-size: 16px;
    color: #333
}
.mobile-in .form-group-code {
    float: left;
    position: relative;
    padding-bottom: 40px
}
.mobile-in .gain {
    float: right;
    width: 140px;
    font-size: 14px
}
.mobile-in .input-lg {
    border-radius: inherit;
    width: 162px;
    height: 38px;
    font-size: 14px;
    color: #cccccc;
    padding: 5px 10px
}
.mobile-in .mail-bottom {
    padding-top: 30px
}
.mobile-in ul {
    color: #999;
    padding-left: 15px
}
.mobile-in .form-group .msg-icon {
    display: none
}
.mobile-in .form-group.status-error .msg-icon,.mobile-in .form-group.status-success .msg-icon {
    display: inline-block
}
.mobile-in .form-group.status-error .help-block,.mobile-in .form-group.status-success .help-block {
    visibility: visible;
    display: block
}
.mobile-in .help-block {
    visibility: hidden;
    height: 20px;
    padding-left: 0
}
.reset .control-label {
    width: 95px;
    font-weight: normal
}
.reset .form-control {
    width: 78%;
    border-radius: inherit
}
.reset .help-block {
    padding-left: 96px
}
.success {
    padding: 80px 260px;
    text-align: center
}
.success p {
    color: #999;
    padding-top: 15px
}
.success .text-center {
    text-align: center
}

