@charset "utf-8";
a {
    color: #3c3c3c;
}

.main_container {
    width: 100%;
    height: 480px;
    background: #f5f5f5;
}

.btn {
    border-radius: 4px;
}

.find-pwd-img {
    background: url(../img/login-register/find_pwd_img.png) no-repeat top left;
}

.find_pwd_bj {
    background-position: 5px 5px;
}

.find_pwd_mail_01 {
    width: 28px;
    height: 20px;
    background-position: center -69px;
}

.find_pwd_mail_02 {
    width: 28px;
    height: 20px;
    background-position: center -139px;
}

.find_pwd_mail_03 {
    width: 28px;
    height: 20px;
    background-position: center -209px;
}

.find_pwd_mobile_01 {
    width: 16px;
    height: 24px;
    background-position: center -279px;
}

.find_pwd_mobile_02 {
    width: 16px;
    height: 24px;
    background-position: center -353px;
}

.find_pwd_mobile_03 {
    width: 16px;
    height: 24px;
    background-position: center -427px;
}

.special-bj {
    background-color: #ff8219 !important;
}

.bw-bj {
    background: url(../img/login-register/find_pwd_nav_01.png) right center no-repeat;
}

.white-bj {
    background: url(../img/login-register/find_pwd_nav_02.png) right center no-repeat;
}

.finish-bj {
    background: url(../img/login-register/find_pwd_nav_03.png) right center no-repeat;
}

.pass-bj {
    background: url(../img/login-register/find_pwd_nav_02.png) right center no-repeat;
}

.finish {
    background-color: #f0a176 !important;
    color: #fff
}

.top {
    height: 72px;
    border-bottom: 1px solid #e6e6e6
}

.container {
    margin: 0 auto;
    padding-top: 50px;
    width: 886px;
}

.title {
    width: 100%;
    height: 49px;
    line-height: 49px;
    color: #ff8219;
    font-weight: bold;
    font-size: 16px;
    text-align: center
}

.title .nav-pill li {
    float: left;
    margin: 0;
    padding: 0;
    width: 214px;
    height: 49px;
    background-color: #ffe6be;
    color: #3c3c3c;
    text-indent: -20px;
}

.title .nav-pill li.last-finish {
    width: 170px;
}

.find-pwd {
    padding-top: 40px;
    width: 240px;
    height: 150px;
    font-size: 14px;
    margin: 0 auto;
}

.find-pwd .form-group {
    position: relative;
    margin-bottom: 10px;
    width: 234px;
    height: 25px;
}

.find-pwd .form-group-code {
    float: left;
    width: 90px;
}

.find-pwd .form-control {
    width: 100%;
    border-radius: inherit;
}

.find-pwd .input-lg {
    padding: 5px 15px;
    height: 25px;
    font-size: 14px;
}

.find-pwd .input-sm {
    float: left;
    padding: 5px 15px;
    margin: 5px 0;
    width: 90px;
}

.find-pwd .form-group-pic {
    float: left;
    margin-left: 20px;
    width: 90px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d1d5d8;
}

.find-pwd .form-group-pic img {
    vertical-align: top;
}

.find-pwd .btn {
    margin-top: 30px
}

.find-pwd .btn-lg {
    float: left;
    width: 100%;
    background-color: #91c31e;
    color: #fff;
}

.form-group .msg-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    right: 16px;
    background: url(../img/login-register/status.png) no-repeat;
}

.form-group.status-error .msg-icon {
    background-position: left -40px
}

.form-group.status-success .msg-icon {
    background-position: left -20px
}

.verify-con {
    margin: 0 auto;
    width: 240px;
    height: 270px;
    text-align: center;
}

.verify {
    margin-top: 40px;
    color: #3c3c3c;
}

.verify .content {
    padding: 0 10px
}

.verify .content h6 {
    margin: 5px 0 0 0;
    text-align: left;
    color: #646464;
}

.verify .one p {
    margin: 0;
    color: #646464;
}

/*修改链接颜色*/
.verify .content .one-img {
    margin: 0 auto;
}

.verify .mobile.disabled {
    border: 1px solid #d1d5d8;
    color: #b3b3b3;
}

.verify .mobile.mobile-img .one-img {
    background-position: center -279px;
    margin-left: 10px;
}

.verify .mobile.mail-img .one-img {
    background-position: center -69px
}

.verify .mobile.disabled:hover {
    border: 2px solid #78c8c8
}

.verify .mobile.mobile-img:hover .one-img {
    background-position: center -279px
}

.verify .mobile.mail-img:hover .one-img {
    background-position: center -69px
}

.verify .mobile {
    width: 240px;
    height: 80px;
    border: 1px solid #646464;
    color: #646464;
    cursor: pointer
}

.verify .mobile .one-img {
    width: 100%;
    text-align: center
}

.verify .mobile:hover {
    border: 2px solid #78c8c8;
    border-radius: 6px
}

.verify .mobile:hover .one-img {
    background-position: center -427px
}

.verify .mail:hover .one-img {
    background-position: center -209px
}

.verify .form-group .btn {
    margin-top: 35px;
}

.verify .form-group .btn-lg {
    width: 100%;
    background-color: #91c31e;
    color: #fff;
}

.mobile-in {
    display: none;
    padding: 40px 300px 40px 210px;
    height: 100%;
    font-size: 14px;
    color: #646464;
}

.mobile-in .form-group {
    width: 360px;
    height: 40px;
    line-height: 40px;
}

.mobile-in .form-group .input-lg {
    display: inline-block;
    margin-left: 10px;
    width: 90px;
    height: 25px;
}

.mobile-in .form-group.input-ic {
    margin-top: 40px;
}

.mobile-in .form-group.input-ic input {
    margin-left: 20px;
    width: 170px;
}

.mobile-in .form-group .btn {
    margin: 5px 40px 5px 0;
    padding: 0;
    width: 40%;
    height: 40px;
    line-height: 40px;
    background-color: #91c31e;
    color: #fff;
}

.mobile-in .form-group .btn.prev {
    width: 120px;
    margin-right: 32px;
}

.mobile-in .form-group .btn.next {
    margin-left: 32px;
    width: 120px;
}

.mobile-in .link-blue {
    color: #ff8219;
}

.mobile-in h4 {
    font-size: 16px;
    color: #3c3c3c;
}

.mobile-in .form-group-code {
    position: relative;
    float: left;
    margin-top: 10px;
}

.mobile-in .gain {
    float: right;
    width: 140px;
    font-size: 14px
}

.mobile-in .input-lg {
    padding: 5px 10px;
    border-radius: inherit;
    font-size: 14px;
    color: #ccc;
}

.mobile-in ul {
    list-style: disc;
    padding-left: 15px;
    color: #646464;
}

.mobile-in ul li {
    list-style: disc;
}

.mobile-in .form-group .btn-block {
    margin-top: 50px;
    width: 89%;
}

.reset {
    padding-top: 40px;
    margin: 0 auto;
    width: 350px;
    font-size: 14px;
}

.reset .input-icon {
    position: absolute;
    left: 105px;
    top: 0;
    width: 40px;
    height: 22px;
}

.reset .form-group {
    position: relative;
    margin-bottom: 26px;
    height: 25px;
}

.reset .form-control {
    width: 234px;
    border-radius: inherit
}

.reset .control-label {
    float: left;
    margin-right: 10px;
    width: 95px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    font-weight: bold;
}

.reset .input-lg {
    padding: 10px 15px 10px 35px;
    height: 25px;
    font-size: 12px;
}

.reset .form-group .btn {
    float: right;
    margin-right: 10px;
    padding: 0;
    width: 234px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #91c31e;
}

.success {
    margin: 10px auto;
    width: 470px;
}

.success .container {
    height: 60px;
}

.success .container img {
    display: inline-block;
    position: absolute;
}

.success .container ul {
    display: inline-block;
    margin-left: 70px;
    height: 60px;
}

.success .container h4 {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 5px;
}

.success p {
    display: block;
    width: 400px;
}

.success p a {
    color: #ffb450;
    cursor: pointer;
}



