@charset "utf-8";
.layout-ourist-wrapper{/*float:right;*/width: 258px;height:300px;position:relative;right: 16px;top: 20px; margin:40px 0 40px 0;}
.layout-ourist-wrapper:after{content: "";display: block;clear: both;}
.login-tourist-title{
	width:258px;
	height:44px;
	background-color:#9bcb27;
	text-align:center;
	border-bottom:1px solid #379700;
	font:16px/44px "微软雅黑";
	color:#fff;
	margin:0 auto;
}
.tourist-border-ne{
    width:0;
    height:0;
    border-width:12px 0 0 20px ;
    border-style:solid;
    border-color:#379700 transparent transparent transparent;
    position: absolute;
	top:44px;
	left:0;
}
.tourist-border-nw{
    width:0;
    height:0;
    border-width:12px 20px 0 0;
    border-style:solid;
    border-color:#379700 transparent transparent transparent;
/*    margin:40px auto;*/
    position: absolute;
	top:44px;
	right:0;
}
.several-style-log{
	width:218px;
	height:160px;
	background-color:#dcf3b2;
	margin-left:20px;
	box-shadow:  4px 4px 4px #c4c4c2;
    -moz-box-shadow:  4px 4px 4px #c4c4c2;
    -webkit-box-shadow:  4px 4px 4px #c4c4c2;
}
.several-style-log ul{
	padding:12px 0 ;
	margin:0 0 0 18px;
}
.several-style-log .tourist-id-btn{
	width:186px;
	height:34px;
	margin:0 0 16px 16px;
}
.vist-right{
	display:block; 
	width:128px; 
	height:40px; 
	line-height:40px; 
	text-align:center; 
	background-color:#91c81e; 
	font:16px/40px '微软雅黑'; 
	color:#fff; 
	margin-left:28%;
	}
.vist-bar{	
	width:12px;
	height:7px;
	position:absolute;
	top:0px;
	left:46%;
	background:url(../img/side-bar.png) no-repeat;
	z-index:2;
	}
	
.slide-tourist {
    border:1px solid #ddd;
    border-style: none solid solid solid;
    text-align:left;
    height: 242px;
    overflow: hidden;
    -moz-border-radius: 0 0 10px 10px;      /* Gecko browsers */
    -webkit-border-radius: 0 0 10px 10px;   /* Webkit browsers */
    border-radius:0 0 10px 10px;            /* W3C syntax */
    margin: 10px 0 20px 0 ;
}

.slide-tourist .hd-tourist {
    height:39px;
    line-height:39px;
    background:#f4f4f4;
    border-bottom:1px solid #91c81e;
    position:relative;
	
}
.slide-tourist .hd-tourist ul {
    float:left;
    position:absolute;
	left:5px;
    top:-1px;
    height:32px;
	width:100%;
}

.slide-tourist .hd-tourist ul li {
    float:left;
    cursor:pointer;
    color: #414141;
    width: 45%;
    text-align: center;
}

.slide-tourist .hd-tourist ul li.on {
    height:40px;
    background:#91c81e;
    /*border:1px solid #ddd;*/
    color: #ffffff;
}

.slide-tourist .bd-tourist{

	}
.slide-tourist .bd-tourist ul {
    padding:15px;
    zoom:1;
	overflow: auto;
	position:relative;
}
	
.slide-tourist .bd-tourist li {

 
}

.slide-tourist .bd-tourist li p{
    line-height:18px;
    font-size: 12px;
    color: #414141;
}

.slide-tourist .bd-tourist ul:hover {
    overflow: auto;
}
	
.slide-tourist .bd-tourist li:hover p{
	color:#5aaa00;
	}
/* CSS Document */

